<ion-header [dir]="'dir' | translate">
  <ion-toolbar color="primary">
      <ion-buttons slot="primary">
        <ion-back-button defaultHref="/dashboard/home" dir="ltr" [text]="'back' | translate"></ion-back-button>
        </ion-buttons>
    <ion-title>Account Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [dir]="'dir' | translate">
  <ion-item *ngIf="!(loadingOperation | async)" color="primary" lines="none">
    <ion-avatar slot="start">
      <img src="assets/avatar.svg" style="background:#f2f2f2;">
    </ion-avatar>
    <ion-label class="ion-text-capitalize">
      <h2> {{account.FullName}}</h2>  
      <p> {{account.Mobile}}</p>
    </ion-label>
  </ion-item>
  <ion-item *ngIf="(loadingOperation | async)" color="primary" lines="none">
    <ion-avatar slot="start">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-avatar>
    <ion-label class="ion-text-capitalize">
      <h2><ion-skeleton-text animated width="50%" color="light"></ion-skeleton-text></h2>  
      <p><ion-skeleton-text animated width="20%"></ion-skeleton-text></p>
    </ion-label>
  </ion-item>
  <ion-progress-bar *ngIf="(loadingOperation | async) || (loadingOperation2 | async)" type="indeterminate"></ion-progress-bar>

  <div>
      <form (ngSubmit)="submitAccount()">
          <ion-item>
              <ion-label position="stacked">Name</ion-label>
              <ion-input type="text" [(ngModel)]="account.FullName" name="FullName"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Country</ion-label>
                <ion-select name="GsCountryId" placeholder="Select Country" [(ngModel)]="account.GsCountryId">
                  <ion-select-option *ngFor="let item of countries;" value="{{item.GsCountryId}}">{{item.PhoneCode}} - {{item.CountryName}}</ion-select-option>
                </ion-select>
            </ion-item>
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input type="text" [(ngModel)]="account.Email" name="Email"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="stacked">Mobile</ion-label>
              <ion-input type="text" [(ngModel)]="account.Mobile" name="Mobile"></ion-input>
          </ion-item>
          
          <ion-item>
              <ion-label position="stacked">Password</ion-label>
              <ion-input type="password" [(ngModel)]="account.Password" name="Password"></ion-input>
          </ion-item>
          <ion-item *ngIf="account.AccountTypeId != '1'">
              <ion-label position="stacked">Account Type</ion-label>
              <ion-select name="AccountTypeId" placeholder="Select Account Type" [(ngModel)]="account.AccountTypeId">
                <ion-select-option value="2">Manager</ion-select-option>
                <ion-select-option value="3">Driver</ion-select-option>
                <ion-select-option value="4">Client</ion-select-option>
              </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Nickname</ion-label>
            <ion-input type="text" [(ngModel)]="account.Nickname" name="Nickname"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Image Url</ion-label>
              <ion-textarea [(ngModel)]="account.ImageName" autoGrow="true" name="ImageName"></ion-textarea>
          </ion-item>
          <ion-item *ngIf="account.AccountTypeId != '1'">
            <ion-label position="stacked">Active Account</ion-label>
            <ion-checkbox [(ngModel)]="account.Active" name="Active"></ion-checkbox>
          </ion-item>
          <ion-item *ngIf="account.AccountTypeId != '1'">
              <ion-label position="stacked">Deleted Account</ion-label>
              <ion-checkbox [(ngModel)]="account.Deleted" color="danger" name="Deleted"></ion-checkbox>
          </ion-item>

          <div *ngIf="account.AccountTypeId == '3'">
              <ion-item-divider color="secondary">
                  <ion-label>
                    Driver Info
                  </ion-label>
              </ion-item-divider>
              <ion-item>
                <ion-label position="stacked">Car Type</ion-label>
                <ion-select name="CarTypeId" placeholder="Select Car Type" [(ngModel)]="account.CarTypeId">
                  <ion-select-option *ngFor="let item of carTypes;" value="{{item.CarTypeId}}">{{item.Name}}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                  <ion-label position="stacked">Driver License</ion-label>
                  <ion-input type="text" [(ngModel)]="account.DriverLicense" name="DriverLicense"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked">Attachment</ion-label>
                  <ion-textarea [(ngModel)]="account.AttachmentName" autoGrow="true" name="AttachmentName"></ion-textarea>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Active Driver</ion-label>
                    <ion-checkbox [(ngModel)]="account.Driver_Active" name="Driver_Active"></ion-checkbox>
                </ion-item>
          </div>
        </form>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button size="small" [color]="(loadingOperation3 | async) ? 'success' : 'primary'" class="menu-open-button">
          <ion-spinner *ngIf="(loadingOperation | async) || (loadingOperation2 | async)" color="light"></ion-spinner>
        <ion-icon *ngIf="!((loadingOperation | async) || (loadingOperation2 | async))" name="create" (click)='submitAccount()'></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
