<ion-content fullscreen>
  <div>
      <ion-button color="light" fill="clear" (click)="close()" style="height: auto; font-size: 12px;padding: 15px;">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
  </div>
    <ion-slides pager="true" [options]="slideOptsProgressbar" style="border-radius: 200px/15px; display: block; margin: -15px 0 0 -15px;">
  
      <ion-slide *ngFor="let slide of images" text-center style="padding: 0px 0px 0px 0px;"> 
        
        <div class="slide-img-padding" style="margin-top: 0px;">
          <img [src]="slide.AttachmentUrl" class="slide-img" >
        </div>
  
        <div class="slide-text" *ngIf="slide.Description" style="position: absolute; bottom: 35px;width:100%; background:#091723AA;color:white;">
            <p style="margin-bottom: 30px;">{{ slide.Description }}</p>  
        </div>
      </ion-slide>
  
    </ion-slides>
</ion-content>
