<ion-content [dir]="'dir' | translate" text-center >
  <div class="h-100"  style="padding: 0px 0px 0px 0px; background:url(/assets/images/get_started_b_1.jpg) no-repeat center center;-webkit-background-size: cover; -moz-background-size: cover;-o-background-size: cover;background-size: cover; width: 100%;">
    <div style="margin-top: auto;margin-bottom: auto; width:100%;" text-center>
      <div class="slide-img-padding2">
        <img src="assets/logo-with-name.png" class="slide-img">
      </div>
      <div style="color: white;font-family: FFHekaya;font-size: 32px;text-align: start;width: 80%;margin-left: auto;margin-right: auto;">
        <ion-label style="font-size:14px;">إنشاء حساب جديد او تسجيل الدخول</ion-label>
        <ion-item lines="none">
          <ion-input inputmode="tel" placeholder="رقم الجوال" style="font-size:24px;" max="10" [(ngModel)]="mobileNumber"></ion-input>
        </ion-item>
        <ion-button (click)="login()" color="light" size="large" color="tertiary" expand="full" style="margin-top: 15px;">
          <ion-label slot="start" style="font-family: FFHekaya;font-size: 32px;">تسجيل الدخول</ion-label>
        </ion-button>
      </div>
    </div>
</div>
</ion-content>
