<ion-header [dir]="'dir' | translate">
  <ion-toolbar>
      <ion-buttons slot="start" (click)="back()">
          <ion-button>
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
      <ion-title>{{ 'match_point' | translate}}</ion-title>
      <ion-buttons slot="primary">
        <ion-button color="primary" (click)="submitForm()">
          {{ 'save' | translate}}
          <ion-icon slot="end" name="create"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [dir]="'dir' | translate">
  <ion-list *ngFor="let answer of selectedItem.AnswerMajor;let i=index; let odd = odd"
  [class.odd]="odd">
    <div class="d-flex justify-content-between">
      <div><ion-label class="inp-label">#{{i + 1}}</ion-label></div>
      <div>
        <ion-button *ngIf="selectedItem.AnswerMajor.length > 1" color="danger" fill="clear" (click)="removeAnswer(answer)" style="height: auto; font-size: 12px;padding: 2px;">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </div>
    </div>
    <div class="card" style="border-color:#BFBFBF;">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <td class="tbl-lbl" style="border-top:0px;">{{ 'major' | translate}}</td>
                        <td style="border-top:0px;">
                          <ion-select name="MajorId[{{i}}]" required="true" [(ngModel)]="answer.MajorId">
                           <!-- <ion-select-option *ngFor="let item of majors;" value="{{item.UniversityId}}">{{item.Name}}</ion-select-option>-->
                           <ion-select-option value="1">تكنلوجيا المعلومات</ion-select-option>
                            <ion-select-option value="2">قانون</ion-select-option>
                            <ion-select-option value="3">فيزياء</ion-select-option>
                            <ion-select-option value="4">انجليزي</ion-select-option>
                            <ion-select-option value="5">محاسبة</ion-select-option>
                            <ion-select-option value="6">أشعة</ion-select-option>
                            <ion-select-option value="7">رياضيات</ion-select-option>
                            </ion-select>
                        </td>
                      </tr>
                      <tr >
                        <td class="tbl-lbl">{{ 'major_points' | translate}}</td>
                        <td>
                            <ion-input type="number" required="true" [placeholder]="'major_points' | translate" name="MatchPoint[{{i}}]" [(ngModel)]="answer.MatchPoint"></ion-input>
                        </td>
                      </tr>
                        <tr *ngIf="(formSubmit | async) && (!answer.MajorId)">
                            <td colspan="2" style="padding: 0px;">
                              <div class="alert alert-danger" style="margin: 0px;">
                                <div *ngIf="!answer.MajorId"> {{ 'name_is_required' | translate}}</div>
                              </div>
                            </td>
                          </tr>
                </tbody>
            </table>
        </div>
    </div>
  </ion-list>
    <div>
      <ion-button (click)="addAnswer()" slot="end">
          <ion-icon slot="icon-only" name="add"></ion-icon>
          <ion-label>{{ 'add_major' | translate}}</ion-label>
        </ion-button>
  </div>
</ion-content>
