<ion-header [dir]="'dir' | translate">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Help
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [dir]="'dir' | translate">
  
<div class="header">

  <!--Content before waves-->
  <div class="inner-header flex">
  <!--Just the logo.. Don't mind this-->
  <svg version="1.1" class="logo" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 515 218.3" xml:space="preserve">
  <path fill="#FFFFFF" stroke="#000000" stroke-width="10" stroke-miterlimit="10" d="M57,283" />
  <g><path fill="#fff"
  d="M192.2,120.6H192l-13.2,18.5l-19.2-0.4l8-28.9v-0.1v-0.1l-7.3-29.1l19.2,0.1L191,97.7c1.1-10.8,4.1-21,9.2-30.7
  c1-3,2.1-6,3.4-8.8c-18.1-33.9-53.9-56.9-95-56.9C49.2,1.3,1,49.5,1,109s48.2,107.7,107.7,107.7c40.7,0,76.1-22.6,94.4-55.9
  c-3.5-6.8-6.3-13.9-8.4-21.5C193.9,133.1,193,126.8,192.2,120.6z M112.5,163.8c11.2,0,23.6-2.4,30.8-5.3l5.6,28.9
  c-6.8,3.4-22.1,7-42,7c-56.6,0-85.7-35.2-85.7-81.8c0-55.9,39.8-86.9,89.4-86.9c19.2,0,33.8,3.9,40.3,7.3l-7.5,29.4
  c-7.5-3.2-18-6.1-31.1-6.1C82.9,56.2,60,74,60,110.4C60,143.2,79.4,163.8,112.5,163.8z M513.7,111.8c0.1-6-6.1-13.3-23.7-14.1h-0.2
  l-27.5,0.6l-10.2-13.9h2.5c1.5,0,2.7-1.1,2.8-2.5l0.1-6.6c0-1.4-1.2-2.5-2.7-2.5l-11.2-0.1l-8.4-11.6h2.1c1.5,0,2.7-1.1,2.8-2.5
  l0.1-6.6c0-1.4-1.2-2.5-2.7-2.5l-10.8-0.1L416.2,35l-25-0.3l28,64.3L406,99.4c0.3,3.4,0.5,6.8,0.5,10.2c0,4.4-0.3,8.7-0.8,12.9
  l13.2,0.7l-29.6,63.5l25,0.4l10.9-14.1l10.8,0.1c1.5,0,2.7-1.1,2.8-2.5l0.1-6.6c0-1.4-1.2-2.5-2.7-2.5h-2.1l8.7-11.3l11.2,0.1
  c1.5,0,2.7-1.1,2.8-2.5l0.1-6.6c0-1.4-1.2-2.5-2.7-2.5h-2.5l10.5-13.7l27.3,1.3h0.2h0.2c17.6-0.3,24-7.4,24-13.4c0-0.2,0-0.4,0-0.6
  C513.7,112.2,513.7,112,513.7,111.8z M298.7,1.5c-59.5,0-107.8,48.3-107.8,107.8s48.3,107.8,107.8,107.8s107.8-48.3,107.8-107.8
  S358.2,1.5,298.7,1.5z M313.6,156.3c11.2,0,23.6-2.4,30.8-5.3l5.5,28.8c-6.8,3.4-22.1,7-42,7c-56.6,0-85.7-35.2-85.7-81.8
  c0-55.9,39.8-86.9,89.4-86.9c19.2,0,33.8,3.9,40.3,7.3l-7.5,29.4c-7.5-3.2-18-6.1-31.1-6.1c-29.4,0-52.2,17.7-52.2,54.2
  C261.1,135.7,280.5,156.3,313.6,156.3z" />
  </g>
  </svg>
  <h1>Define Your Future</h1>
  </div>
  
  <!--Waves Container-->
  <div>
  <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
  viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
  <defs>
  <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
  </defs>
  <g class="parallax">
  <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
  <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
  <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
  <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
  </g>
  </svg>
  </div>
  <!--Waves end-->
  
  </div>
  <!--Header ends-->
  
  <!--Content starts-->
  <div class="content flex">
  <p>DefineYourFuture.com | 2019 | ©</p>
  </div>
  <!--Content ends-->
  <ion-list lines="none">
      <ion-list-header>
        <ion-label>Menu</ion-label>
      </ion-list-header>
      <ion-item href="https://DefineYourFuture.com/" target="_blank">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Define Your Future Website</ion-label>
      </ion-item>
      <ion-item href="https://DefineYourFuture.com/contact-us/" target="_blank">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Contact Us</ion-label>
      </ion-item>
      <ion-item routerLink="/logout-admin" routerDirection="root">
        <ion-icon slot="start" color="medium" name="log-out"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
