<ion-header [dir]="'dir' | translate">
  <ion-toolbar color="primary">
      <ion-buttons slot="primary">
         <ion-back-button defaultHref="/dashboard/home" dir="ltr" [text]="'back' | translate"></ion-back-button>
        </ion-buttons>
    <ion-title slot="start">معلومات حسابك</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [dir]="'dir' | translate">
  <ion-item *ngIf="!(loadingOperation | async)" color="primary" lines="none">
    <ion-avatar slot="start">
      <img src="assets/avatar.svg" style="background:#f2f2f2;">
    </ion-avatar>
    <ion-label class="ion-text-capitalize">
      <h2 *ngIf="!account.FullName"> <ion-skeleton-text width="50%" color="light"></ion-skeleton-text></h2>  
      <h2 *ngIf="account.FullName"> {{account.FullName}}</h2> 
      <p *ngIf="account.Mobile"> {{account.Mobile}}</p> 
      <p *ngIf="!account.Mobile"><ion-skeleton-text width="20%"></ion-skeleton-text></p>
    </ion-label>
  </ion-item>
  <ion-item *ngIf="(loadingOperation | async)" color="primary" lines="none">
    <ion-avatar slot="start">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-avatar>
    <ion-label class="ion-text-capitalize">
      <h2><ion-skeleton-text animated width="50%" color="light"></ion-skeleton-text></h2>  
      <p><ion-skeleton-text animated width="20%"></ion-skeleton-text></p>
    </ion-label>
  </ion-item>
 <div style="height: 15px;">
    <ion-progress-bar *ngIf="(loadingOperation | async) || (loadingOperation2 | async)" type="indeterminate"></ion-progress-bar>
 </div>
  <div>
      <form #accountForm="ngForm" (ngSubmit)="submitAccount()" autocomplete="off">
            <ion-item>
              <ion-label position="stacked">الإسم</ion-label>
              <ion-input type="text" required="true" [(ngModel)]="account.FullName" name="FullName"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">رقم الهوية</ion-label>
                <ion-input type="text" required="true" [(ngModel)]="account.IdNumber" name="IdNumber"></ion-input>
            </ion-item>
            <ion-item hidden>
                <ion-label position="stacked">نقطة إنطلاق الباص</ion-label>
                <ion-select name="GsCityId" required="true" placeholder="إختر المدينة" [(ngModel)]="account.GsCityId">
                  <ion-select-option value="1">الخليل</ion-select-option>
                  <ion-select-option value="2">بيت لحم</ion-select-option>
                  <ion-select-option value="3">رام الله</ion-select-option>
                  <ion-select-option value="4">نابلس</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item hidden>
              <ion-label >حجز لشخص اخر</ion-label>
              <ion-checkbox mode="ios" slot="start" [(ngModel)]="account.bookForSomeoneElse" name="Active"></ion-checkbox>
            </ion-item>
            <div *ngIf="account.bookForSomeoneElse" >
              
            </div>
            <div *ngIf="error" class="alert alert-danger" style="font-size: 13px;">{{error}}</div>
            <ion-button type="submit" [disabled]="!accountForm.form.valid"  color="primary" expand="full">
              إكمال التسجيل
            </ion-button>
           
        </form>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" hidden>
      <ion-fab-button size="small" [color]="(loadingOperation3 | async) ? 'success' : 'primary'" class="menu-open-button">
          <ion-spinner *ngIf="(loadingOperation | async) || (loadingOperation2 | async)" color="light"></ion-spinner>
        <ion-icon *ngIf="!((loadingOperation | async) || (loadingOperation2 | async))" name="create" (click)='submitAccount()'></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
