<ion-header [dir]="'dir' | translate">
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title slot="start">{{'universities' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<!--[scrollEvents]="true" (ionScroll)="scrolling($event)"-->
<ion-content [dir]="'dir' | translate">
   
    <div *ngIf="!selectedItem">
        <ion-card *ngFor="let item of itemsList" button="true" (click)="selectItem(item)">
            <ion-card-header>
                <ion-card-title>{{item.Name}}</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              {{item.Description}}
            </ion-card-content>
          </ion-card>
    </div>
    <div *ngIf="selectedItem">
          <ion-item>
              <ion-label position="floating">{{'name' | translate}}</ion-label>
              <ion-input type="text" [(ngModel)]="selectedItem.Name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">{{'description' | translate}}</ion-label>
            <ion-input type="text" required="true"  [(ngModel)]="selectedItem.Description" maxlength="2"></ion-input>
          </ion-item>
          <ion-item hidden>
              <ion-label position="floating">Place</ion-label>
              <ion-input type="text" [(ngModel)]="selectedItem.Place" maxlength="10"></ion-input>
            </ion-item>
    </div>
      
  
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button *ngIf="selectedItem  && !(loadingOperation | async)" size="small" color="light" class="menu-open-button">
            <ion-icon name="close" (click)='discardItem()'></ion-icon>
          </ion-fab-button>
        <ion-fab-button animated size="small" *ngIf="selectedItem && selectedItem.UniversityId && !(loadingOperation | async)" (click)="deleteItem();" color="danger">
            <ion-icon name="trash"></ion-icon>
          </ion-fab-button>
        <ion-fab-button *ngIf="!selectedItem" size="small" [color]="(loadingOperation | async) ? 'success' : 'primary'" class="menu-open-button">
            <ion-spinner *ngIf="(loadingOperation | async)" color="light"></ion-spinner>
          <ion-icon *ngIf="!(loadingOperation | async)" name="add" (click)='createItem()'></ion-icon>
        </ion-fab-button>
        <ion-fab-button *ngIf="selectedItem" size="small" [color]="(loadingOperation | async) ? 'success' : 'primary'" class="menu-open-button">
            <ion-spinner *ngIf="(loadingOperation | async)" color="light"></ion-spinner>
          <ion-icon *ngIf="!(loadingOperation | async)" name="create" (click)='submitItem()'></ion-icon>
        </ion-fab-button>
      </ion-fab>
     
</ion-content>
