.ng-dirty.ng-invalid.ng-touched:not(form)  {
  border: 1px solid var(--ion-color-danger);
}

table {
    border-collapse: collapse !important;
    margin:0px;
  }
td + td,
th + th { border-right: 1px solid #CBC9C7; }
tr + tr { border-top: 1px solid #CBC9C7; }

td,
th { padding: 2px;  vertical-align: middle;}


// IE7
tr + tr > td,
tr + tr > th { border-top: 1px solid #CBC9C7; }
ion-item {
    --background: Transparent;
}
ion-list {
    --background: Transparent;
    --ion-background-color:Transparent;
}
ion-content{
    --background:#F8F7F3;
}
.tbl-lbl{
    background-color: #F8F7F3;
    padding: 0px 8px;
}
.border{
    border-color: #CBC9C7;
}
.form-group .inp-label{
    font-size: 14px;
}
.form-group input{
    margin-top: 4px;
}
.form-group{
    text-align: start;
}
form{
    padding: 0 24px;
}
.table{
    font-size: 14px;
    text-align: start;
}
.table-bordered td, .table-bordered th{
    padding: 0px;
    vertical-align: middle;
}


$timeline-debug:                        false;


$timeline-h-color-bg:                   #E7E7E7;
$timeline-h-color-main:                 var(--ion-color-primary);
$timeline-h-color-sec:                 #CBC9C7;
$timeline-h-color-border:                 #56595833;
$timeline-h-color-main-active:                 #8EC43D;
$timeline-h-color-main-current:                 var(--ion-color-primary);

$timeline-h-color-line:                 $timeline-h-color-border;
$timeline-h-color-marker-border:        $timeline-h-color-border;
$timeline-h-color-marker-font:          $timeline-h-color-sec;

$timeline-h-color-marker-bg--active:    $timeline-h-color-main-active;
$timeline-h-color-marker-font--active:  $timeline-h-color-bg;

$timeline-h-color-marker-bg--current:    $timeline-h-color-main-current;
$timeline-h-color-marker-font--current:  $timeline-h-color-bg;

$timeline-h-color-marker-bg:            $timeline-h-color-bg;
$timeline-h-color-marker-boxShadow:     $timeline-h-color-sec;


$timeline-h-size-step:                  35px;
$timeline-h-size-line:                  2px;
$timeline-h-size-border:                1px;
$timeline-h-size-label:                 110px;
$timeline-h-size-boxShadow:             4px;
$timeline-h-title-distance:             30px;
$timeline-h-title-size-font:            12px;
$timeline-h-label-distance:             10 + ($timeline-h-size-step/2) + $timeline-h-size-boxShadow;


$timeline-h-summary-size-step:          12px;
$timeline-h-summary-size-border:        2px;
$timeline-h-summary-size-line:          2px;
$timeline-h-summary-size-label:         110px;
$timeline-h-summary-size-boxShadow:     3px;
$timeline-h-summary-title-distance:     10px;
$timeline-h-summary-title-size-font:    8px;
$timeline-h-summary-label-distance:     10 + ($timeline-h-summary-size-step/2) + $timeline-h-summary-size-boxShadow;



.timeline {
  margin: 20px 0;
  padding: 0;
  border-top: $timeline-h-size-line solid $timeline-h-color-line;
  list-style: none;
}

.timeline__step {

  float: left;
  width: 25%;
  padding-top: 30px;
  
  position: relative;

@if ($timeline-debug) {
  background: lightgreen;
  outline: 2px solid red;
}

  &:first-of-type,
  &:last-of-type {
    &:before {

      content: "";
      width: 50%;
      height: 100%;

      background: transparent;

      position: absolute;
        top: -$timeline-h-size-line;
        left: 0;

@if ($timeline-debug) {
  background: green;
  outline: 4px solid orange;
}
    }
  }

  &:last-of-type:before {
    left: 50%;
  }

  &:hover {
    .timeline__step-label {
      //display: block;
      display: none !important;
      opacity: 1;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      height: auto;
      padding: 5px 10px;

      font-size: 12px;
      border-width: 1px;

      bottom: 100%;

      &:before,
      &:after {
        display: block;
      }
    }
  }
}

.timeline__step-label {
  //display: none;
  opacity: 0;
  height: 0;
  padding: 0;
  font-size: 0;
  border-width: 0;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);

  width: $timeline-h-size-label;
  margin: 0 0 $timeline-h-label-distance (-$timeline-h-size-label/2);
  
  border-style: solid;
  border-color: $timeline-h-color-main;
  
  background: $timeline-h-color-bg;

  font-weight: normal;
  //cursor: pointer;

  position: absolute;
    left: 50%;
    bottom: 0;

  transition: bottom 0.1s ease-in-out,
              opacity 0.1s ease-in-out,
              -webkit-transform 0.1s ease-in-out;

  &:before,
  &:after {
    display: none;

    content: "";
    width: 0;
    height: 0;
    border: solid transparent;
    pointer-events: none;

    position: absolute;
    top: 100%;
    left: 50%;
  }

  &:before {
    border-top-color: $timeline-h-color-main;
    border-width: 8px;
    margin-left: -8px;
  }
  
  &:after {
    border-top-color: $timeline-h-color-bg;
    border-width: 6px;
    margin-left: -6px;
  }
  
}

.timeline__step-content {
  display: block;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.timeline__step-title {
  display: block;
  width: 100%;
  padding: $timeline-h-title-distance 0 0;
  
  font-size: $timeline-h-title-size-font;
  text-align: center;
  
  position: absolute;
    top: 0;
}

.timeline__step-marker {
  width: $timeline-h-size-step;
  height: $timeline-h-size-step;
  margin-left: -$timeline-h-size-step/2;
  
  background: $timeline-h-color-marker-bg;
  border: $timeline-h-size-border solid $timeline-h-color-marker-border;
  border-radius: 50%;
  box-shadow: 0 0 0 $timeline-h-size-boxShadow $timeline-h-color-marker-boxShadow;

  text-align: center;
  line-height:30px;
  color: $timeline-h-color-marker-font;
  font-size: 1.6em;
  font-style: normal;
  
  position: absolute;
    top: -($timeline-h-size-step/2)-($timeline-h-size-line/2);
    left: 50%;

  .done & {
    background: $timeline-h-color-marker-bg--active;
    color: $timeline-h-color-marker-font--active;
  }
  .current & {
    background: $timeline-h-color-marker-bg--current;
    color: $timeline-h-color-marker-font--active;
  }
  
}
.done .step-number {
    display: none;
}
.icon{
    display:none;
    font-size: 26px;
    padding: 5px;
}
.done .icon {
    display: block;
}
.timeline__step-radio {
  display: none;

  /**
   * not needed for now,
   * because markers won't be clicked in horz version
   */
  // &:checked {
  //   & + label {
  //     opacity: 1;
  //   }

  //   & ~ .timeline__step-marker {
  //     background: $timeline-h-color-marker-bg--active;
  //     color: $timeline-h-color-marker-font--active;
  //   }
  // }
}



.timeline--summary {
  width: 200px;
  border-width: $timeline-h-summary-size-line;
  
  .timeline__step-label {
    margin-bottom: $timeline-h-summary-label-distance;
  }

  .timeline__step-title {
    padding: $timeline-h-summary-title-distance 0 0;
    font-size: $timeline-h-summary-title-size-font;
    font-weight: bold;
  }

  .timeline__step-marker {
    width: $timeline-h-summary-size-step;
    height: $timeline-h-summary-size-step;
    margin-left: -$timeline-h-summary-size-step/2;

    border-width: $timeline-h-summary-size-border;

    text-indent: -999em;

    box-shadow: 0 0 0 $timeline-h-summary-size-boxShadow #fff;

    top: -($timeline-h-summary-size-step/2)-($timeline-h-summary-size-line/2);
  }
}




/* CSS for Credit Card Payment form */
.credit-card-box .panel-title {
  display: inline;
  font-weight: bold;
}
.credit-card-box .form-control.error {
  border-color: red;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
font-weight: bold;
color: red;
padding: 2px 8px;
margin-top: 2px;
}
.credit-card-box .payment-errors {
font-weight: bold;
color: red;
padding: 2px 8px;
margin-top: 2px;
}
.credit-card-box label {
  display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
  display: table;
}
.credit-card-box .display-tr {
  display: table-row;
}
.credit-card-box .display-td {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
  min-width: 180px;
}


#cc-number ~ .input-group-addon{
  display: inline-block;
  width: 60px;
  height: 35px;
  background: url("/assets/images/cards/unknown.svg") no-repeat center;
  background-size: contain;
}
#cc-number.visa ~ .input-group-addon{
  background: url("/assets/images/cards/visa.svg") no-repeat center;
}
#cc-number.amex ~ .input-group-addon{
  background: url("/assets/images/cards/amex.svg") no-repeat center;
}
#cc-number.discover ~ .input-group-addon{
  background: url("/assets/images/cards/discover.svg") no-repeat center;
}
#cc-number.mastercard ~ .input-group-addon{
  background: url("/assets/images/cards/mastercard.svg") no-repeat center;
}
