<ion-header [dir]="'dir' | translate">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/dashboard/home" dir="ltr" [text]="'back' | translate"></ion-back-button>
          </ion-buttons>
      <ion-title slot="start">{{ 'questionnaire_tab' | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [dir]="'dir' | translate">
    <div style="height: 15px;">
      <ion-progress-bar *ngIf="(loadingOperation | async) || (loadingOperation2 | async)" type="indeterminate"></ion-progress-bar>
    </div>

    <div style="margin-top:15px;">
        <form #form="ngForm" (ngSubmit)="confirmReserve()" autocomplete="off">
          <div *ngFor="let question of questions">
            <ion-card *ngIf="question.QuestionType == 1" color="light" style="background-color:#fff;margin:0px 0px 15px 0px;">
              <ion-card-content>
                <div class="form-group">
                  <ion-label for="flight_no" class="inp-label">{{question.QuestionText}}</ion-label>
                  <input id="flight_no" type="text" [placeholder]="'optional' | translate" name="flight_no"  [(ngModel)]="ride.FlightNo" class="form-control"  style="font-size:14px;margin-bottom: 8px;margin-top: 8px;line-height: normal; " />
                </div>
              </ion-card-content>
            </ion-card>
            
            <ion-card *ngIf="question.QuestionType == 2" color="light" style="background-color:#fff;margin:0px 0px 15px 0px;">
              <ion-card-content>
                <ion-list>
                  <ion-radio-group>
                    <ion-list-header>
                      <ion-label>
                        {{question.QuestionText}}
                      </ion-label>
                    </ion-list-header>
                
                    <ion-item *ngFor="let answer of question.Answer">
                      <ion-label>{{answer.AnswerText}}</ion-label>
                      <ion-radio [value]="answer.AnswerId"></ion-radio>
                    </ion-item>
                  </ion-radio-group>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </div>
         
              

              <ion-button  [hidden]="(confirmed | async)" [disabled]="!totalAmount"  type="submit"  color="announce" expand="full">
                  {{ 'next' | translate}}
              </ion-button>
          
            
          </form>
    </div>
  
  </ion-content>
  