<ion-header [dir]="'dir' | translate">
   
    <ion-toolbar>
      <ion-buttons slot="start"  *ngIf="!isSearchBarOppend">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title *ngIf="!isSearchBarOppend" (click)="toggleSearchBar(true)">{{'search_accounts' | translate}}</ion-title>
      <ion-searchbar [hidden]="!isSearchBarOppend" [placeholder]="'search_accounts' | translate" [(ngModel)]="searchTxt" (ionChange)="onSearchChange()" [debounce]="250"
      (ionCancel)="toggleSearchBar(false)" showCancelButton="true"></ion-searchbar>
      <ion-buttons slot="end">
          <ion-button  *ngIf="!isSearchBarOppend" (click)="toggleSearchBar(true)">
            <ion-icon name="search"></ion-icon>
          </ion-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [dir]="'dir' | translate">
     
    <ion-list *ngIf="(loading | async) && searchList.length == 0">
        <ion-item *ngFor="let i of [1,2,3,4,5,6];">
            <ion-avatar slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
            <ion-label class="ion-text-capitalize">
              <h2><ion-skeleton-text animated width="50%"></ion-skeleton-text></h2>  
              <p><ion-skeleton-text animated width="20%"></ion-skeleton-text></p>
            </ion-label>
          </ion-item>
    </ion-list>
    <ion-list>
      <ion-item *ngFor="let item of searchList;" (click)="onSearchClick(item)" button="true">
        <ion-avatar slot="start">
          <img src="{{ item.ImageName || 'assets/avatar.svg'}}" style="background:#f2f2f2;">
        </ion-avatar>
        <ion-label class="ion-text-capitalize">
          <h2>{{ item.FullName }}</h2>  
          <p>{{ item.Mobile }}</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll threshold="25%" (ionInfinite)="loadSearch(true,$event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button size="small" color="primary" class="menu-open-button">
        <ion-icon name="add" (click)='addAccount()'></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
  