<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" (click)="backClick()">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'my_order' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [dir]="'dir' | translate">
    <div style="height: 35px;">
        <ion-progress-bar *ngIf="(loadingOperation | async)" type="indeterminate"></ion-progress-bar>
    </div>
    <div class="float-ontainer" style="margin-top: -35px;">
       
        <div class="slide-img-padding3">
            <img  *ngIf="tour && tour.TourImage" [src]="tour.TourImage" class="slide-img2">
            <ion-skeleton-text animated *ngIf="tour && !tour.TourImage" style="min-height: 250px;"></ion-skeleton-text>
          </div>
         
        
                    
         
          
    </div>
    <ion-item lines="none" style="margin-top:8px;">
        <div>
          <div *ngIf="tour && tour.TourPickup">
              <ion-label slot="start"  class="ion-text-wrap"> 
                  <span *ngIf="tour.TourPickup.length == 1" style="font-size:18px;font-weight: bold; color:rgba(25, 81, 136, 1)">
                    {{ 'pickup_from' | translate: { text : tour.TourPickup[0].CityName } }}
                  </span> 
                  <span *ngIf="tour.TourPickup.length > 1" style="font-size:18px;font-weight: bold; color:rgba(25, 81, 136, 1)">
                        {{ 'pickups_from' | translate}}   
                      <span *ngFor="let tourPickup of tour.TourPickup" >
                          /  {{tourPickup.CityName}} 
                      </span>
                    </span> 
               </ion-label>
          </div>
            <div>
                <ion-label slot="start" class="ion-text-wrap"> 
                    <span style="font-size:21px;font-weight: bold; padding-top: 4px;">{{ (tour ? tour.TourTitle : '') || ( 'transfer' | translate ) }}</span> 
                 </ion-label>
            </div>
             <div *ngIf="tour">
                <ion-label slot="start" color="medium" class="ion-text-wrap"> 
                    <span style="font-size:18px;">{{ tour.TourSubtitle }}</span>  
                 </ion-label>
             </div>
        </div>
      </ion-item>
    <ion-item lines="none">
        <ion-icon slot="start" color="medium" name="time"></ion-icon>
        <ion-label slot="start" class="ion-no-padding ion-no-margin"> 
          <span style="font-size:14px;color:var(--ion-color-medium)">{{ride.RideDate}}</span>
         </ion-label>
      </ion-item>
      <ion-item lines="none" >
        <ion-icon slot="start" color="medium" name="cube"></ion-icon>
        <ion-label slot="start" class="ion-no-padding ion-no-margin"> 
          <span style="font-size:14px;color:var(--ion-color-medium)">
            <span *ngIf="tour && tour.TourCategory == '1'">
              {{ 'daily_tour' | translate }}
            </span>
            <span  *ngIf="tour && tour.TourCategory == '2'">
            {{ 'business' | translate }}
            </span>
            <span  *ngIf="tour && tour.TourCategory == '3'">
                {{ 'vip' | translate }}
            </span>
            <span *ngIf="ride.RideTypeId == 3">
              {{ 'by_the_hour' | translate }}
            </span>
            <span *ngIf="ride.RideTypeId == 2">
              {{ 'one_way' | translate }}
            </span>
          </span>
         </ion-label>
         <ion-label slot="end" class="ion-no-padding ion-no-margin"> 
          <h2>{{ ride.TotalPrice }}{{ (tour ? tour.CurrencySymbol : '') || 'USD'}}
          </h2>  
         </ion-label>
      </ion-item>
      <ion-segment (ionChange)="tabChanged($event)" [value]="(selectedTab | async)" mode="md">
          <ion-segment-button value="order_info" mode="md">
              <ion-label>{{ 'order_info' | translate }}</ion-label>
          </ion-segment-button>
          <ion-segment-button *ngIf="tour" value="tour_info" mode="md">
              <ion-label *ngIf="tour.TourType != '2'">{{ 'tour_info' | translate }}</ion-label>
              <ion-label *ngIf="tour && tour.TourType == '2'">{{ 'event_info' | translate }}</ion-label>
          </ion-segment-button>
      </ion-segment>
      <div *ngIf="(selectedTab | async) == 'order_info'">
        <div>
          <div style="background: #F1F1F1; width: 100%; padding: 15px; color:#B8B8B8;">
            {{ 'booking_details' | translate}}  
        </div>
       
        <div style="padding: 15px;">
          <ion-text class="ion-no-padding ion-no-margin" style="display: block;"> 
            <span class="order_lbl">
              {{ 'booking_reference' | translate}}  
            : </span>
            <span class="order_val"> {{ ride.OrderNumber }} </span>
           </ion-text>
          
           <ion-text class="ion-no-padding ion-no-margin" style="display: block;"> 
            <span class="order_lbl">
              {{ 'tour_name' | translate}}  
            : </span>
            <span class="order_val" *ngIf="tour"> {{ tour.TourTitle }} </span>
           </ion-text>
           <ion-text class="ion-no-padding ion-no-margin" style="display: block;"> 
            <span class="order_lbl">
              {{ 'travel_date' | translate}}  
            : </span>
            <span class="order_val"> {{ ride.RideDate }} </span>
           </ion-text>
           <ion-text class="ion-no-padding ion-no-margin" style="display: block;"> 
            <span class="order_lbl">
              {{ 'lead_traveler_name' | translate}}  
            : </span>
            <span class="order_val" *ngIf="ride.RideAccounts && ride.RideAccounts.length > 0">
              {{ride.RideAccounts[0].FullName}}
            </span>
            <span class="order_val" *ngIf="!ride.RideAccounts || ride.RideAccounts.length == 0">
              {{ride.ClientName}}
            </span>
           </ion-text>
           <ion-text class="ion-no-padding ion-no-margin" style="display: block;"> 
            <span class="order_lbl">
              {{ 'traveler_names' | translate}}  
            : </span>
            <span class="order_val" *ngFor="let rideAccount of ride.RideAccounts; let i = index">
               {{ rideAccount.FullName }} ,
            </span>
            <span class="order_val" *ngIf="!ride.RideAccounts || ride.RideAccounts.length == 0">
              {{ride.ClientName}}
            </span>
           </ion-text> 
           <ion-text class="ion-no-padding ion-no-margin" style="display: block;"> 
            <span class="order_lbl">
              {{ 'travelers' | translate}}  
            : </span>
            <span class="order_val" *ngIf="!ride.RideAccounts || ride.RideAccounts.length == 0">
              {{ride.Pax || 1}} {{ 'adults' | translate}}
            </span>
            <span class="order_val" *ngIf="ride.RideAccounts && ride.RideAccounts.length == 1"> 
              {{ride.RideAccounts.length}} {{ 'adult' | translate}}  
            </span>
            <span class="order_val" *ngIf="ride.RideAccounts && ride.RideAccounts.length > 1"> 
              {{ride.RideAccounts.length}} {{ 'adults' | translate}}  
            </span>  
            <span class="order_val" *ngIf="ride.ChildCount && ride.ChildCount == 1"> 
               ,  {{ride.ChildCount}} {{ 'child' | translate}}  
            </span>
            <span class="order_val" *ngIf="ride.ChildCount && ride.ChildCount > 1"> 
               ,  {{ride.ChildCount}} {{ 'childs' | translate}}  
            </span>
           </ion-text> 
           <ion-text class="ion-no-padding ion-no-margin" style="display: block;"> 
            <span class="order_lbl">
              {{ 'product_code' | translate}}  
            : </span>
            <span class="order_val"> {{ ride.TourId }} </span>
           </ion-text> 
           <ion-text class="ion-no-padding ion-no-margin" style="display: block;"> 
            <span class="order_lbl">
              {{ 'tour_grade' | translate}}  
            : </span>
            <span class="order_val" *ngIf="tour"> {{ tour.TourTitle }} </span>
           </ion-text> 
           <ion-text class="ion-no-padding ion-no-margin" style="display: block;"> 
            <span class="order_lbl">
              {{ 'tour_grade_code' | translate}}  
            : </span>
            <span class="order_val" *ngIf="tour"> {{ tour.TourNumber }} </span>
           </ion-text> 
           <ion-text class="ion-no-padding ion-no-margin" style="display: block;"> 
            <span class="order_lbl">
              {{ 'tour_language' | translate}}  
            : </span>
            <span class="order_val"> {{ ride.Language }} </span>
           </ion-text> 
           <ion-text class="ion-no-padding ion-no-margin" style="display: block;"> 
            <span class="order_lbl">
              {{ 'location' | translate}}  
            : </span>
            <span class="order_val"> {{ ride.FeatureName }} </span>
           </ion-text> 
           <ion-text class="ion-no-padding ion-no-margin" style="display: block;"> 
            <span class="order_lbl">
              {{ 'net_rate' | translate}}  
            : </span>
            <span class="order_val"> {{ ride.TotalPrice }}{{(tour ? tour.CurrencySymbol : '') || 'USD'}} </span>
           </ion-text> 
           <ion-text class="ion-no-padding ion-no-margin" style="display: block;"> 
            <span class="order_lbl">
              {{ 'departure_rail_station' | translate}}  
            : </span>
            <span class="order_val"> {{ 'no_aplica' | translate}} </span>
           </ion-text> 
           <ion-text class="ion-no-padding ion-no-margin" style="display: block;"> 
            <span class="order_lbl">
              {{ 'pick_up_location' | translate}}  
            : </span>
            <span class="order_val"> {{ ride.PickupLocation || ride.FeatureName }} </span>
           </ion-text> 
           <ion-text class="ion-no-padding ion-no-margin" style="display: block;"> 
            <span class="order_lbl">
              {{ 'cruise_ship' | translate}}  
            : </span>
            <span class="order_val"> {{ 'no_aplica' | translate}} </span>
           </ion-text> 
           <ion-text class="ion-no-padding ion-no-margin" style="display: block;"> 
            <span class="order_lbl">
              {{ 'departure_rail_line' | translate}}  
            : </span>
            <span class="order_val"> {{ 'no_aplica' | translate}} </span>
           </ion-text> 
           <ion-text class="ion-no-padding ion-no-margin" style="display: block;"> 
            <span class="order_lbl">
              {{ 'departure_date' | translate}}  
            : </span>
            <span class="order_val"> {{ 'no_aplica' | translate}} </span>
           </ion-text> 
           <ion-text class="ion-no-padding ion-no-margin" style="display: block;"> 
            <span class="order_lbl">
              {{ 'departure_time' | translate}}  
            : </span>
            <span class="order_val"> {{ 'no_aplica' | translate}} </span>
           </ion-text> 
           <ion-text class="ion-no-padding ion-no-margin" style="display: block;"> 
            <span class="order_lbl">
              {{ 'drop_off_location' | translate}}  
            : </span>
            <span class="order_val"> {{ ride.DropoffLocation }} </span>
           </ion-text> 
           <ion-text class="ion-no-padding ion-no-margin" style="display: block;"> 
            <span class="order_lbl">
              {{ 'arrival_rail_line' | translate}}  
            : </span>
            <span class="order_val"> {{ 'no_aplica' | translate}} </span>
           </ion-text> 
           <ion-text class="ion-no-padding ion-no-margin" style="display: block;"> 
            <span class="order_lbl">
              {{ 'arrival_rail_station' | translate}}  
            : </span>
            <span class="order_val"> {{ 'no_aplica' | translate}} </span>
           </ion-text> 
           <ion-text class="ion-no-padding ion-no-margin" style="display: block;"> 
            <span class="order_lbl">
              {{ 'arrival_time' | translate}}  
            : </span>
            <span class="order_val"> {{ 'no_aplica' | translate}} </span>
           </ion-text> 
           <ion-text class="ion-no-padding ion-no-margin" style="display: block;"> 
            <span class="order_lbl">
              {{ 'disembarkation_time' | translate}}  
            : </span>
            <span class="order_val"> {{ 'no_aplica' | translate}} </span>
           </ion-text> 
           <ion-text class="ion-no-padding ion-no-margin" style="display: block;"> 
            <span class="order_lbl">
              {{ 'boarding_time' | translate}}  
            : </span>
            <span class="order_val"> {{ 'no_aplica' | translate}} </span>
           </ion-text> 
           <ion-text class="ion-no-padding ion-no-margin" style="display: block;"> 
            <span class="order_lbl">
              {{ 'traveler_passport_information' | translate}}  
            : </span>
            <span class="order_val"> - </span>
           </ion-text> 
           <ion-text class="ion-no-padding ion-no-margin" style="display: block;"> 
            <span class="order_lbl">
              {{ 'special_requirements' | translate}}  
            : </span>
            <span class="order_val">  {{ 'no' | translate}} </span>
           </ion-text> 
           <ion-text class="ion-no-padding ion-no-margin" style="display: block;"> 
            <span style="font-size:14px;color:var(--ion-color-medium)">
              {{ 'optional' | translate}}  
            : </span>
            <span class="order_val"> {{ 'optional_acknowledge' | translate}}   </span>
           </ion-text>
        </div>
        </div>
          <div *ngIf="ride.RideAccounts && ride.RideAccounts.length > 0">
             
              <ion-card  *ngFor="let rideAccount of ride.RideAccounts; let i = index" button="false">
                  <ion-card-header>
                      <ion-card-title>
                          {{ (i + 1) + '.' + rideAccount.FullName}}
                          <span style="display: block;" *ngIf="rideAccount.TicketNumber">
                              {{ 'ticket_no_' | translate: { text : rideAccount.TicketNumber } }}
                          </span>
                      </ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <!-- ElementType : url | canvas | img -->
                     <ngx-qrcode *ngIf="rideAccount.TicketNumber" [qrc-value]="rideAccount.TicketNumber" 
                     qrc-element-type="img" 
                     qrc-class="aclass"
                     qrc-errorCorrectionLevel="L" ></ngx-qrcode>
                  </ion-card-content>
                </ion-card>
                <div style="background: #F1F1F1; width: 100%; height: 5px;">
                   &nbsp;
                </div>
            </div>
      </div>
      <div *ngIf="(selectedTab | async) == 'tour_info'">
        <div style="padding-top: 15px; color: gray; text-align: center;" *ngIf="(!tour.TourLocation || tour.TourLocation.length == 0) && !tour.TourDescription">
             {{ 'no_additional_info' | translate}}  
        </div>
          <div *ngIf="tour.TourLocation && tour.TourLocation.length > 0">
              <div style="background: #F1F1F1; width: 100%; padding: 15px; color:#B8B8B8;">
                  {{ 'location' | translate}}  
              </div>
              <ion-card  *ngFor="let location of tour.TourLocation;" button="true" (click)="openMapPage(location.LocationName,location.Lat,location.Lng)">
                  <ion-card-content>
                     <ion-grid fixed>
                       <ion-row>
                         <ion-col size="6">
                           <span style="display: block;"> {{location.LocationName}}</span>
                           <span style="display: block;"> {{location.Description}}</span>
                           <span style="display: block;"> &nbsp;</span>
                            <span style="display: block; color: royalblue;">   {{ 'view_map' | translate}}</span>
                         </ion-col>
                         <ion-col size="6">
                            <img src="assets/images/maps_routemap.png" *ngIf="!location.LocationImage" style="background:#f2f2f2; opacity: 0.4;">
                            <img [src]="location.LocationImage" *ngIf="location.LocationImage" style="background:#f2f2f2; opacity: 0.4;">
                         </ion-col>
                       </ion-row>
                     </ion-grid>
                  </ion-card-content>
                </ion-card>
                <div style="background: #F1F1F1; width: 100%; height: 5px;">
                   &nbsp;
                </div>
            </div>
            <ion-item lines="none">
                <div>
                    <ion-label slot="start" color="medium" class="ion-text-wrap"> 
                        <span style="font-size:18px; white-space: pre-line;">{{ tour.TourDescription }}</span>  
                     </ion-label>
                 </div>
            </ion-item>
            
      </div>
</ion-content>
