<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="start" >
      <ion-button (click)="backClick()">
            <ion-icon slot="icon-only" color="dark" name="arrow-back"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="container h-100" *ngIf="(loadingOperation | async)">
    <div class="row h-100 justify-content-center align-items-center">
        <ion-spinner color="primary"></ion-spinner>
    </div>
  </div>

 <ion-card >
   <ion-card-content>
    <ion-text >
      <p style="font-size: 14px;text-align: justify; text-justify: inter-word;" [innerHTML]="bodyText">
      </p>
    </ion-text >
   </ion-card-content>
 </ion-card>

 
</ion-content>
