ion-slide {
    display: block;
}
ion-label h3 {
    font-size: 30;
    font-weight: bold;
    margin-bottom: 60px;
}

img {
    max-height: 400px;
}

.slide-img-padding2 {
    padding: 0px 80px;
}


.btn-primary {
    height: 60px;
}
ion-slides {
    --bullet-background: #CED1DF;
    --bullet-background-active: #8890B2;
}
ion-item{
    --background:transparent;
    --border-width:0px;
    --border-radius:5px;
}
ion-input{
    --background: rgba(0,0,0,0);
    text-align:start;
    --padding-start: 8px;
    --padding-end: 8px;
}
@media screen and (max-height: 775px) {

    img {
        width: 70%;
    }
    
}