<ion-content [dir]="'dir' | translate">
    <div style="height: 35px;">
        <ion-progress-bar *ngIf="(loadingOperation | async)" type="indeterminate"></ion-progress-bar>
    </div>
    <div class="float-ontainer" style="margin-top: -35px;">
       
          <div class="slide-img-padding" *ngIf="(loadingOperation | async)">
        <ion-skeleton-text animated style="min-height: 250px;"></ion-skeleton-text>
      </div>
     <div style="margin-top: 0px; text-align:center; overflow: hidden;" *ngIf="!(loadingOperation | async) && tour.TourAttachment && tour.TourAttachment.length > 0">
        <ion-slides pager="true" [options]="slideOptsProgressbar">
          <ion-slide *ngIf="tour.TourImage" text-center style="padding: 0px 0px 0px 0px;"> 
            <div class="slide-img-padding" style="margin-top: 0px;">
              <img [src]="tour.TourImage" class="slide-img" >
            </div>
          </ion-slide>

            <ion-slide *ngFor="let slide of tour.TourAttachment" text-center style="padding: 0px 0px 0px 0px;"> 
              
              <div class="slide-img-padding" style="margin-top: 0px;">
                <img [src]="slide.AttachmentUrl" class="slide-img" >
              </div>
              <div dir="auto" hidden *ngIf="slide.Description">
                <div class="slide-text">
                           <h3>{{ slide.Description }}</h3> 
                   </div>
             </div>
             

            </ion-slide>
        
          </ion-slides>
     </div>
        <div class="slide-img-padding3" *ngIf="!tour.TourAttachment || tour.TourAttachment.length == 0">
            <img *ngIf="tour.TourImage" [src]="tour.TourImage" class="slide-img2">
        </div>
         
            <ion-item lines="none" style="width:100%;" class="top-only">
                <ion-buttons slot="start">
                    <ion-button (click)="backClick()">
                      <ion-icon slot="icon-only" color="light" name="arrow-back"></ion-icon>
                    </ion-button>
                  </ion-buttons>
            </ion-item>

            <ion-item lines="none" class="bottom-only" style="width: 100%;background:transparent;pointer-events: none;" *ngIf="tour.TourAttachment && tour.TourAttachment.length > 0">
                <div>
                    <ion-chip color="secondary" style="--background:rgba(44,39,45,0.84);">
                        <ion-label color="light">1 / {{tour.TourAttachment.length}}</ion-label>
                      </ion-chip>
                  </div>
              </ion-item>
    </div>
    <ion-item lines="none" style="margin-top:8px;" dir="auto">
        <div>
           <div>
              <div>
                  <ion-label slot="start" class="ion-text-wrap"> 
                      <span style="font-size:21px;font-weight: bold; padding-top: 4px;">{{ tour.TourTitle }}</span> 
                   </ion-label>
              </div>
               <div>
                  <ion-label slot="start" color="medium" class="ion-text-wrap"> 
                      <span style="font-size:18px;">{{ tour.TourSubtitle }}</span>  
                   </ion-label>
               </div>
            </div>
        </div>
      </ion-item>
    <ion-item lines="none">
        <ion-icon slot="start" color="medium" name="cube"></ion-icon>
        <ion-label slot="start" class="ion-no-padding ion-no-margin"> 
          <span style="font-size:14px;color:var(--ion-color-medium)">
            <span *ngIf="tour.TourCategory == '1'">
              
              <!--{{ 'daily_tour' | translate }} -->
            </span>
            <span  *ngIf="tour.TourCategory == '2'">
             <!--{{ 'business' | translate }} -->
            </span>
            <span  *ngIf="tour.TourCategory == '3'">
                <!-- {{ 'vip' | translate }} -->
            </span>
          </span>
         </ion-label>
        
      </ion-item>
      <div *ngIf="tour.TourLocation && tour.TourLocation.length > 0">
        <div style="background: #F1F1F1; width: 100%; padding: 15px; color:#B8B8B8;">
            {{ 'location' | translate}}  
        </div>
        <ion-card  *ngFor="let location of tour.TourLocation;" button="true" (click)="openMapPage(location.LocationName,location.Lat,location.Lng)">
            <ion-card-content>
               <ion-grid fixed>
                 <ion-row>
                   <ion-col size="7" dir="auto">
                     <span style="display: block;"> {{location.LocationName}}</span>
                     <span style="display: block;"> {{location.Description}}</span>
                     <span style="display: block;"> &nbsp;</span>
                      <span style="display: block; color: royalblue;">   {{ 'view_map' | translate}}</span>
                   </ion-col>
                   <ion-col size="5">
                      <img src="assets/images/maps_routemap.png" *ngIf="!location.LocationImage" style="background:#f2f2f2; opacity: 0.4;">
                      <img [src]="location.LocationImage" *ngIf="location.LocationImage" style="background:#f2f2f2; opacity: 0.4;">
                   </ion-col>
                 </ion-row>
               </ion-grid>
            </ion-card-content>
          </ion-card>
          <div style="background: #F1F1F1; width: 100%; height: 5px;">
             &nbsp;
          </div>
      </div>
      <ion-item lines="none" dir="auto">
          <div>
              <ion-label slot="start" color="medium" class="ion-text-wrap"> 
                  <span style="font-size:18px; white-space: pre-line;">{{ tour.TourDescription ? tour.TourDescription.replace("#outside#", "") : ''}}</span>  
               </ion-label>
           </div>
      </ion-item>
</ion-content>
