ion-slide {
  display: block;
}
ion-label {
  white-space: normal !important;
  max-width: none !important;
  width: 100%;
}
.slide-text h3 {
  font-size: 20px;
  font-weight: lighter;
}
.slide-text p{
  font-size: 16px;
}
.slide-text div{
  margin-top: 15px;
  margin-bottom: 0px;
}
.slide-img-padding3 img {
  width: 100%;
  object-fit: cover;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5)
}

.slide-img-padding3 {
  padding: 0px;
  width: 100%;
}

.slide-img-padding img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  //-moz-box-shadow:    0px 0px 11px 0px rgba(0, 0, 0, 0.7);
 // -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.7);
 // box-shadow:         0px 0px 11px 0px rgba(0, 0, 0, 0.7);
}

.slide-img-padding {
  padding: 0px;
  width: 100%;
}
  
  .btn-primary {
    height: 60px;
  }
  
  ion-grid {
    margin-bottom: 20px;
  }
  
  ion-slides {
    --bullet-background: #ffffff60;
    --bullet-background-active: #ffffff;
  }
  ion-item{
    --background:transparent;
  }
  ion-item div{
    --background:transparent;
  }
  .swiper-pagination {
    bottom:40px !important;
  }
  
  @media screen and (min-height: 960px) {
    .slide-img-padding3 img {
        width: 100%;
    }
  }
  @media screen and (min-height: 1366px) {
    .slide-img-padding3 img {
        width: 100%;
    }
  }
  ion-chip{
    --ion-color-base-rgb:44,39,45;
    --background:rgba(44,39,45,0.84);
    background:rgba(44,39,45,0.84);
  }
  .title2 h1{
    font-weight: bold;
    //text-shadow: 0.075em 0.08em 0.1em rgba(0, 0, 0, 1);
    font-size: 18px;
  }
  ion-icon{
    text-shadow: 0.075em 0.08em 0.1em rgba(255, 255, 255, 1);
  }
  /* Container holding the image and the text */
  .float-ontainer {
    position: relative;
    text-align: center;
    color: white;
  }
  .top-only {
    position: absolute;
    top: 8px;
  }
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }

  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  ion-icon[slot=start] {
    margin: 0 0.1em 0 0.2em;
  }
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  .bottom-only{
    position: absolute;
    bottom: 0px;
    padding-bottom: 15px;
    padding-top: 4px;
  }
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }