<ion-header [dir]="'dir' | translate">
  <ion-toolbar color="primary">
      <ion-buttons slot="primary">
        <ion-back-button defaultHref="/admin" dir="ltr" [text]="'back' | translate"></ion-back-button>
        </ion-buttons>
    <ion-title>{{ 'major_info' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [dir]="'dir' | translate">
  <ion-progress-bar *ngIf="(loadingOperation | async) || (loadingOperation2 | async)" type="indeterminate"></ion-progress-bar>

  <div>
      <img [src]="tour.TourImage" class="slide-img" *ngIf="tour.TourImage" style="min-height: 150px;">
      <Hr>
       <div *ngIf="tour.TourFeatureImage">
        <img [src]="tour.TourFeatureImage" class="slide-img" style="min-height: 150px;">
        <Hr>
       </div>
      <ion-slides pager="true" [options]="slideOptsProgressbar" style="margin-top: -35px;background:#f1f1f1;"  *ngIf="tour.TourAttachment">
  
          <ion-slide *ngFor="let slide of tour.TourAttachment" text-center style="padding: 0px 0px 36px 0px;"
          > 
            
            <div class="slide-img-padding" style="margin-top: 0px;">
              <img [src]="slide.AttachmentUrl" class="slide-img" style="min-height: 150px;">
            </div>
        </ion-slide>
      
        </ion-slides>
        
      <div style="margin-bottom:15px;">
        <div>
          <input type="file" #file2 placeholder="Choose file" (change)="uploadTourPrimaryImage(file2.files)" style="display:none;">
          <button type="button" class="btn btn-primary" style="width:100%;" (click)="file2.click()">{{ 'upload_image' | translate}}</button>
        </div>
        <div >
          <span class="upload" *ngIf="progress2 > 0">
            {{progress2}}%
          </span>
          <span class="upload" *ngIf="message2">
            {{message2}}
          </span>
        </div>
      </div>
      <div class="row" style="margin-bottom:15px;" hidden>
        <div class="col-md-3">
          <input type="file" #file3 placeholder="Choose file" (change)="uploadTourFeatureImage(file3.files)" style="display:none;">
          <button type="button" class="btn btn-success" (click)="file3.click()">Upload Feature Image</button>
        </div>
        <div class="col-md-4">
          <span class="upload" *ngIf="progress3 > 0">
            {{progress3}}%
          </span>
          <span class="upload" *ngIf="message3">
            {{message3}}
          </span>
        </div>
      </div>
      <div class="row" style="margin-bottom:15px;" hidden>
          <div class="col-md-3">
            <input type="file" #file placeholder="Choose file" multiple (change)="uploadFile(file.files)" style="display:none;">
            <button type="button" class="btn btn-success" (click)="file.click()">Upload Slide Images</button>
          </div>
          <div class="col-md-4">
            <span class="upload" *ngIf="progress > 0">
              {{progress}}%
            </span>
            <span class="upload" *ngIf="message">
              {{message}}
            </span>
          </div>
        </div> 
        
        


      <form (ngSubmit)="submitTour()">
          <ion-item>
            <ion-label position="stacked">{{ 'title' | translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="tour.TourTitle" name="Tour_Title" required="true"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{ 'sub_title' | translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="tour.TourSubtitle" name="TourSubtitle"></ion-input>
          </ion-item>
        
    

          <ion-item>
            <ion-label position="stacked">{{ 'description' | translate}}</ion-label>
              <ion-textarea [(ngModel)]="tour.TourDescription" autoGrow="true" name="TourDescription"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{ 'unemployment_rate' | translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="tour.TourSubtitle2" name="TourSubtitle2"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{ 'universities' | translate}}</ion-label>
            <ion-select [(ngModel)]="tour.Universities2" name="Universities2" multiple="true">
              <ion-select-option *ngFor="let item of universities;" value="{{item.UniversityId}}">{{item.Name}}</ion-select-option>
              </ion-select>
        </ion-item>
        
          <ion-item hidden>
              <ion-label position="stacked">Image</ion-label>
                <ion-textarea [(ngModel)]="tour.TourImage" autoGrow="true" hidden name="TourImage"></ion-textarea>
                <ion-button (click)="onUploadImage()" slot="end" hidden>
                  <ion-icon slot="icon-only" name="camera"></ion-icon>
                </ion-button>
                <ion-button (click)="onUploadImage()" slot="end" hidden>
                  <ion-icon slot="icon-only" name="images"></ion-icon>
                </ion-button>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Video Url</ion-label>
                  <ion-textarea [(ngModel)]="tour.TourVideo" autoGrow="true" name="TourVideo"></ion-textarea>
              </ion-item>
            <ion-item hidden>
              <ion-label position="stacked">Show In Banner</ion-label>
              <ion-checkbox [(ngModel)]="tour.Slider" name="Slider"></ion-checkbox>
            </ion-item>
            <ion-item hidden>
              <ion-label position="stacked">Tour Type</ion-label>
              <ion-select name="TourType" required="true" placeholder="Select Tour Type" [(ngModel)]="tour.TourType">
                <ion-select-option value="1">Packages</ion-select-option>
                <ion-select-option value="2">Events</ion-select-option>
                <ion-select-option value="3">News</ion-select-option>
              </ion-select>
          </ion-item>
            <ion-item hidden>
              <ion-label position="stacked">Tour Category</ion-label>
              <ion-select name="TourCategory" required="true" placeholder="Select Tour Category" [(ngModel)]="tour.TourCategory">
                <ion-select-option value="1">{{ 'daily_tour' | translate }}</ion-select-option>
                <ion-select-option value="2">{{ 'business' | translate }}</ion-select-option>
                <ion-select-option value="3">{{ 'vip' | translate }}</ion-select-option>
                <ion-select-option value="4">{{ 'multi_days' | translate }}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item hidden>
              <ion-label position="stacked">Tour Place</ion-label>
              <ion-select name="TourPlace" required="true" [placeholder]="'all_places' | translate" [(ngModel)]="tour.TourPlace">
                <ion-select-option value="1">{{ 'palestinian_authority' | translate }}</ion-select-option>
                <ion-select-option value="2">{{ 'israel' | translate }}</ion-select-option>
                <ion-select-option value="3">{{ 'jordan' | translate }}</ion-select-option>
                <ion-select-option value="4">{{ 'egypt' | translate }}</ion-select-option>
                <ion-select-option value="5">{{ 'natural_parks' | translate }}</ion-select-option>
              </ion-select>
            </ion-item>
        
            
            

            <ion-item hidden>
              <ion-label position="stacked">Required Fields</ion-label>
              <ion-select [(ngModel)]="tour.RequiredFields2" name="RequiredFields2" multiple="true">
                  <ion-select-option value="Name">Name</ion-select-option>
                  <ion-select-option value="IDNumber">ID Number</ion-select-option>
                  <ion-select-option value="BirthDate">Birth Date</ion-select-option>
                  <ion-select-option value="Email">Email</ion-select-option>
                  <ion-select-option value="ChildCount">Number of Children</ion-select-option>
                  <ion-select-option value="PickupLocation">Pickup Location</ion-select-option>
                  <ion-select-option value="Mobile">Mobile</ion-select-option>
                </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Active Major</ion-label>
            <ion-checkbox [(ngModel)]="tour.Active" name="Active"></ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label position="stacked">Deleted Major</ion-label>
              <ion-checkbox [(ngModel)]="tour.Deleted" color="danger" name="Deleted"></ion-checkbox>
          </ion-item>
          <div hidden>
            <ion-item-divider color="secondary">
                <ion-label>
                  Major Features
                </ion-label>
            </ion-item-divider>
            
            <ion-list>
                <ion-row *ngFor="let tourFeature of tour.TourFeature;let i = index">
                    <ion-col size="4" class="ion-no-padding">
                        <ion-item>
                            <ion-label position="stacked">Title</ion-label>
                            <ion-input type="text" [(ngModel)]="tourFeature.FeatureName" name="FeatureName[{{i}}]"></ion-input>
                          </ion-item>
                    </ion-col>
                    <ion-col size="3" class="ion-no-padding">
                        <ion-item>
                            <ion-label position="stacked">Price</ion-label>
                            <ion-input type="number" [(ngModel)]="tourFeature.Price" name="FeaturePrice[{{i}}]"></ion-input>
                          </ion-item>
                    </ion-col>
                    <ion-col size="3" class="ion-no-padding">
                      <ion-item>
                          <ion-label position="stacked">Active</ion-label>
                          <ion-checkbox [(ngModel)]="tourFeature.Active" name="FeatureActive[{{i}}]"></ion-checkbox>
                        </ion-item>
                  </ion-col>
                  <ion-col size="2" class="ion-no-padding">
                    <ion-item>
                      <ion-label position="stacked"></ion-label>
                      <ion-button  *ngIf="!tourFeature.TourFeatureId" color="medium" (click)="removeTourFeature(tourFeature)">
                        <ion-icon slot="end" name="trash"></ion-icon>
                      </ion-button>
                    </ion-item>
                </ion-col>
                 
                  </ion-row>
                  <ion-button color="success" (click)="addTourFeature()">
                      Add Tour Feature
                      <ion-icon slot="end" name="add"></ion-icon>
                    </ion-button>
            </ion-list>
        </div>
     
        </form>

        <!--The content below is only a placeholder and can be replaced
<div style="text-align:center">  
  <h1>  
    Welcome to {{ title }}!  
  </h1>  
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">  
</div>  
   
<div class="col-sm-5">  
  <ng-container>  
      <input #fileInput type="file" id="file" multiple (change)="getFileDetails($event)">  
      <input type="text" [(ngModel)]="remark">  
      <ion-button 
        (click)="fileInput.click()">Select File</ion-button>
      <ion-button (click)="uploadFiles()">Upload</ion-button>  
  </ng-container>  
</div>  
.-->  
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button size="small" [color]="(loadingOperation3 | async) ? 'success' : 'primary'" class="menu-open-button">
          <ion-spinner *ngIf="(loadingOperation | async) || (loadingOperation2 | async)" color="light"></ion-spinner>
        <ion-icon *ngIf="!((loadingOperation | async) || (loadingOperation2 | async))" name="create" (click)='submitTour()'></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
