<ion-tabs [dir]="'dir' | translate" #ionTabs>

  <ion-tab-bar slot="top">
    <ion-tab-button tab="home" *ngIf="loginStatus != 'admin' && loginStatus != 'driver'">
      <ion-icon name="home"></ion-icon>
      <ion-label>{{ 'home' | translate }}</ion-label>
    </ion-tab-button>
<!--
    <ion-tab-button tab="calendar" *ngIf="loginStatus == 'admin' || loginStatus == 'driver'">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Calendar</ion-label>
    </ion-tab-button>
-->

    <ion-tab-button *ngIf="loginStatus != 'anonymous'"  tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>{{ 'profile' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button *ngIf="loginStatus == 'anonymous'" tab="login">
      <ion-icon name="person"></ion-icon>
      <ion-label>{{ 'select_major' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button *ngIf="loginStatus != 'anonymous'" routerLink="/questionnaire">
      <ion-icon name="list"></ion-icon>
      <ion-label>{{ 'questionnaire_tab' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="help">
      <ion-icon name="help-circle"></ion-icon>
      <ion-label>{{ 'help' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
