<ion-header [dir]="'dir' | translate">
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title slot="start">{{ 'questionnaire' | translate }}  </ion-title>
  </ion-toolbar>
</ion-header>
<!--[scrollEvents]="true" (ionScroll)="scrolling($event)"-->
<ion-content [dir]="'dir' | translate">
   
    <div *ngIf="!selectedItem">
        <ion-card *ngFor="let item of itemsList" button="true" (click)="selectItem(item)">
            <ion-card-header>
              <ion-card-title><strong>{{item.QuestionText}}</strong></ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
            </ion-card-content>
          </ion-card>
    </div>
    <div *ngIf="selectedItem">
        <ion-item>
            <ion-label position="floating">{{ 'question' | translate }} </ion-label>
            <ion-textarea autoGrow="true" [(ngModel)]="selectedItem.QuestionText"></ion-textarea>
          </ion-item>
          <ion-item>
              <ion-label position="floating">{{ 'question_number' | translate }}</ion-label>
              <ion-input type="number" [(ngModel)]="selectedItem.QuestionOrder"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">{{ 'question_type' | translate }}</ion-label>
            <ion-select name="QuestionType" [placeholder]="'select_question_type' | translate" [(ngModel)]="selectedItem.QuestionType">
              <ion-select-option value="1">{{ 'text' | translate }}</ion-select-option>
              <ion-select-option value="2">{{ 'single_choice' | translate }}</ion-select-option>
            </ion-select>
        </ion-item>
        <div *ngIf="selectedItem.QuestionType == '2'">
          <ion-list *ngFor="let answer of selectedItem.Answer;let i=index; let odd = odd"
        [class.odd]="odd">
          <div class="d-flex justify-content-between">
            <div><ion-label class="inp-label">#{{i + 1}}</ion-label></div>
            <div>
              <ion-button *ngIf="selectedItem.Answer.length > 1" color="danger" fill="clear" (click)="removeAnswer(answer)" style="height: auto; font-size: 12px;padding: 2px;">
                <ion-icon slot="icon-only" name="close"></ion-icon>
              </ion-button>
            </div>
          </div>
          <div class="card" style="border-color:#BFBFBF;">
              <div class="table-responsive">
                  <table class="table">
                      <tbody>
                          <tr>
                              <td class="tbl-lbl" style="border-top:0px;">{{ 'answer' | translate}}</td>
                              <td style="border-top:0px;">
                                  <ion-input type="text" required="true" [placeholder]="'answer' | translate" name="AnswerText[{{i}}]" [(ngModel)]="answer.AnswerText"></ion-input>
                              </td>
                            </tr>
                            <tr >
                              <td class="tbl-lbl">{{ 'answer_number' | translate}}</td>
                              <td>
                                  <ion-input type="text" required="true" [placeholder]="'answer_number' | translate" name="AnswerOrder[{{i}}]" [(ngModel)]="answer.AnswerOrder"></ion-input>
                              </td>
                            </tr>
                            <tr >
                              <td colspan="2">
                                  <ion-button color="medium" expand="full" (click)="openAnswerPage(answer)">{{ 'match_point' | translate}}</ion-button>
                              </td>
                            </tr>
                              <tr *ngIf="(formSubmit | async) && (!answer.AnswerText)">
                                  <td colspan="2" style="padding: 0px;">
                                    <div class="alert alert-danger" style="margin: 0px;">
                                      <div *ngIf="!answer.AnswerText"> {{ 'name_is_required' | translate}}</div>
                                    </div>
                                  </td>
                                </tr>
                      </tbody>
                  </table>
              </div>
          </div>
        </ion-list>
          <div>
            <ion-button (click)="addAnswer()" slot="end">
                <ion-icon slot="icon-only" name="add"></ion-icon>
                <ion-label>{{ 'add_answer' | translate}}</ion-label>
              </ion-button>
        </div>
        </div>
       
    </div>
      
  
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button *ngIf="selectedItem  && !(loadingOperation | async)" size="small" color="light" class="menu-open-button">
            <ion-icon name="close" (click)='discardItem()'></ion-icon>
          </ion-fab-button>
        <ion-fab-button animated size="small" *ngIf="selectedItem && selectedItem.QuestionId && !(loadingOperation | async)" (click)="deleteItem();" color="danger">
            <ion-icon name="trash"></ion-icon>
          </ion-fab-button>
        <ion-fab-button *ngIf="!selectedItem" size="small" [color]="(loadingOperation | async) ? 'success' : 'primary'" class="menu-open-button">
            <ion-spinner *ngIf="(loadingOperation | async)" color="light"></ion-spinner>
          <ion-icon *ngIf="!(loadingOperation | async)" name="add" (click)='createItem()'></ion-icon>
        </ion-fab-button>
        <ion-fab-button *ngIf="selectedItem" size="small" [color]="(loadingOperation | async) ? 'success' : 'primary'" class="menu-open-button">
            <ion-spinner *ngIf="(loadingOperation | async)" color="light"></ion-spinner>
          <ion-icon *ngIf="!(loadingOperation | async)" name="create" (click)='submitItem()'></ion-icon>
        </ion-fab-button>
      </ion-fab>
     
</ion-content>
