ion-grid{
  margin:2px 0px;
}
.ng-invalid.ng-touched:not(form)  {
  border: 1px solid var(--ion-color-danger);
}

table {
    border-collapse: collapse !important;
    margin:0px;
  }
td + td,
th + th { border-right: 1px solid #CBC9C7; }
tr + tr { border-top: 1px solid #CBC9C7; }

td,
th { padding: 2px;  vertical-align: middle;}


// IE7
tr + tr > td,
tr + tr > th { border-top: 1px solid #CBC9C7; }
ion-item {
    --background: Transparent;
}
ion-list {
    --background: Transparent;
    --ion-background-color:Transparent;
}
ion-content{
    --background:#F8F7F3;
}
.tbl-lbl{
    background-color: #F8F7F3;
    padding: 0px 8px;
}
.border{
    border-color: #CBC9C7;
}
.form-group .inp-label{
    font-size: 14px;
}
.form-group input{
    margin-top: 4px;
}
.form-group{
    text-align: start;
}
form{
    padding: 0 24px;
}
.table{
    font-size: 14px;
    text-align: start;
}
.table-bordered td, .table-bordered th{
    padding: 0px;
    vertical-align: middle;
}




