ion-slide {
  display: block;
}
ion-label {
  white-space: normal !important;
  max-width: none !important;
  width: 100%;
}
.slide-text h3 {
  font-size: 20px;
  font-weight: lighter;
}
.slide-text p{
  font-size: 16px;
}
.slide-text div{
  margin-top: 15px;
  margin-bottom: 0px;
}
.slide-img-padding3 img {
  width: 100%;
  object-fit: cover;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5)
}

.slide-img-padding3 {
  padding: 0px;
  width: 100%;
}

.slide-img-padding img {
  width: 100%;
  object-fit: contain;
  //-moz-box-shadow:    0px 0px 11px 0px rgba(0, 0, 0, 0.7);
 // -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.7);
 // box-shadow:         0px 0px 11px 0px rgba(0, 0, 0, 0.7);
}

.slide-img-padding {
  padding: 0px;
  width: 100%;
}


.btn-primary {
  height: 60px;
}

ion-grid {
  margin-bottom: 20px;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0px 8px;
}

.swiper-pagination-bullet{
  background: #ffffffdd;
  width: 10px;
  height: 10px;
}
.swiper-pagination-bullet-active{
  background: #ffffff;
}
ion-slides {
  --bullet-background: #ffffff60;
  --bullet-background-active: #ffffff;
}
ion-item{
  --background:transparent;
}
ion-item div{
  --background:transparent;
}
.swiper-pagination {
  bottom:8px !important;
}
.main-btn{
  width: 80px; 
  height: 80px;
  padding: 8px;
}
.main-icon{
  width: 40px !important; 
  height: 40px !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.main-label{
 text-align: center;
 font-size: 12px;
}
ion-card.main-btn{
  --background:#f4f4f5;
}
.card-content-md h2{
  font-size: 20px !important;
}
@media screen and (min-height: 960px) {
  .slide-img-padding img {
      width: 100%;
      height: 400px;
  }
}
@media screen and (min-height: 1366px) {
  .slide-img-padding img {
      width: 100%;
      height: 600px;
  }
}
ion-content.has-refresher > .scroll-content{
  background-color: transparent;
}
.title h1{
  font-weight: bold;
  text-shadow: 0.075em 0.08em 0.1em rgba(0, 0, 0, 1);
  font-size: 40px;
}
/* Container holding the image and the text */
.float-ontainer {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}
.bottom-only{
  position: absolute;
  bottom: 15px;
}
/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.accordion-list{
  margin-bottom: 4px;
  --ion-item-background:#fff;
  .section, .section-active{
    --min-height:58px;
  }
}
.section-active{
  font-weight:600;
  ion-icon{
    color:var(--ion-color-primary) ;
  }
}
.child-list{
  padding: 0px;
  margin-left: 15px;
  margin-right: 15px;
}

.child{
  --ion-item-background:#e8e7e6;
  --ion-item-color:#000;
}