<ion-content [dir]="'dir' | translate" [scrollEvents]="true" fullscreen #mycontent >
    <ion-refresher slot="fixed" pullMin="150" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  <div>
      <div style="height: 35px;position: absolute;left: 0; top: 0;">
          <ion-progress-bar *ngIf="(loading | async)" type="indeterminate"></ion-progress-bar>
      </div>
     
     <div style="margin-top: 0px; text-align:center; overflow: hidden;">
        <ion-slides pager="true" [options]="slideOptsProgressbar">
  
            <ion-slide  text-center style="padding: 0px 0px 0px 0px;"> 
              
              <div class="slide-img-padding" style="margin-top: 0px;">
                <img src="assets/home-cover.jpg" class="slide-img" >
              </div>
             
            </ion-slide>
        
          </ion-slides>

          <div style="margin:10px;">
            <div>
                <ion-searchbar [placeholder]="'search' | translate"></ion-searchbar>
            </div>
          
            <div>
                
            </div>
          </div>
     </div>
      <ion-list *ngFor="let univ of unives; let i = index;" class="ion-no-padding accordion-list" lines="none" detail="false">

        <ion-item tappable (click)="toggleSection(i)" [ngClass]="{'section-active': univ.open, 'section': !univ.open}">
            <ion-icon slot="start" mode="md" name="arrow-back" *ngIf="!univ.open && ('dir' | translate) == 'rtl'"></ion-icon>
            <ion-icon slot="start" mode="md" name="arrow-forward" *ngIf="!univ.open && ('dir' | translate) != 'rtl'"></ion-icon>
            <ion-icon slot="start" mode="md"  name="arrow-down" *ngIf="univ.open"></ion-icon>
            <ion-label>
                {{univ.Name}}
            </ion-label>
        </ion-item>
        <div *ngIf="univ.Majors && univ.open">
            <ion-list style="text-align: start;"  class="ion-no-padding child-list" lines="none" detail="false">
               <ion-item [routerLink]="'/major/' + major.TourId"  class="child" *ngFor="let major of univ.Majors; let j = index;">
                <ion-icon slot="start" mode="md" name="remove" ></ion-icon>
                <ion-label >
                    {{major.TourTitle}}
              </ion-label>
               </ion-item>
            </ion-list>
        </div>
      </ion-list>
    
    <!--

          <ion-card *ngFor="let tour of tours" button="true" (click)="tourClick(tour)">
          <div class="float-ontainer" style="margin-top: 0px;">
              <div class="slide-img-padding3">
                  <img [src]="tour.TourImage" class="slide-img2">
                </div>
          </div>
           
          <ion-card-content>
              <ion-item dir="auto">
                  <div>
                      <ion-label slot="start" class="ion-no-padding ion-no-margin"> 
                          <h2 style="font-size:16px !important;    font-weight: bold;">{{ tour.TourTitle }}</h2> 
                           <p style="margin-bottom: 8px;font-size:16px !important;">{{ tour.TourSubtitle }}</p>  
                       </ion-label>
                  </div>
                </ion-item>
          </ion-card-content>
      
          <ion-item lines="none">
                <ion-grid fixed style="margin: 0px; padding: 0px;">
                <ion-row>
                    <ion-col size="6" style="text-align: start;">
                            <ion-icon color="medium" name="cube" style="margin-bottom: -3px;"></ion-icon>
                            <ion-text color="medium" class="ion-no-padding ion-no-margin"> 
                                    <span style="font-size:14px;padding: 8px;margin-bottom: 4px;">
                                        <span *ngIf="tour.TourCategory == '1'">
                                            {{ 'daily_tour' | translate }}
                                        </span>
                                        <span  *ngIf="tour.TourCategory == '2'">
                                        {{ 'business' | translate }}
                                        </span>
                                        <span  *ngIf="tour.TourCategory == '3'">
                                            {{ 'vip' | translate }}
                                        </span>
                                    </span>
                             </ion-text>
                    </ion-col>
                    <ion-col size="6" style="text-align: end;">
                        <ion-text color="announce">
                                <span style="font-size:24px; font-weight: bold; padding: 8px;line-height: 24px;">
                                        {{ tour.Price }}{{tour.CurrencySymbol}}
                                                <span *ngIf="tour.OldPrice" style="text-decoration: line-through;font-weight: normal; font-size: 18px; display: inline;">{{tour.OldPrice}}{{tour.CurrencySymbol}}</span>
                                </span>
                        </ion-text>
                    </ion-col>
                </ion-row>
                </ion-grid>
            </ion-item>
      </ion-card>

    -->
  </div>
</ion-content>
