ion-item{
    --background:  rgba(0,0,0,sad               );
    --border-color: var(--ion-color-primary);
    --border-width:0px 0px 2px 0px;
    --border-radius:0px;
}
ion-input{
    --color:var(--ion-color-primary);
    --background: rgba(0,0,0,0);
}
ion-button{
    --padding-bottom:0px;
    --padding-end:0px;
    --padding-start:0px;
    --padding-top:0px;
    --border-radius:5px;
}
ion-grid{
    --ion-grid-padding:0px;
}