<ion-header [dir]="'dir' | translate">
  <ion-toolbar >
    <ion-buttons slot="primary">
        <ion-back-button defaultHref="/dashboard/home" dir="ltr" [text]="'back' | translate"></ion-back-button>
      </ion-buttons>
</ion-toolbar>
</ion-header>
<ion-content [dir]="'dir' | translate" text-center >
  <div>
    {{error}}
  </div>
  <div class="h-100" *ngIf="!error">
    <div style="height: 35px;">
        <ion-progress-bar *ngIf="(loadingOperation | async)" type="indeterminate"></ion-progress-bar>
    </div>
    <div text-center>
      <h3>
        كود التفعيل
      </h3>
      <p>
        الرجاء ادخال كود التفعيل المرسل
      </p>
      <p>للرقم + <span>(972){{mobileNumber}}</span></p>

      <ion-grid fixed dir="ltr" style="width: 70%;">
        <ion-row>
          <ion-col size="3">
            <ion-item lines="none">
              <ion-input #code1 type="number" [disabled]="(loadingOperation | async)" step="1" (ionInput)="codeChanged(1,$event.target,$event)" (ionFocus)="codeFocus($event)" (keydown)="keydownCode(1,$event)" [(ngModel)]="code1Number"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="3">
              <ion-item lines="none">
                  <ion-input #code2 type="number" [disabled]="(loadingOperation | async)" step="1" (ionInput)="codeChanged(2,$event.target,$event)" (ionFocus)="codeFocus($event)" (keydown)="keydownCode(2,$event)" [(ngModel)]="code2Number"></ion-input>
              </ion-item>
          </ion-col>
          <ion-col size="3">
              <ion-item lines="none">
                  <ion-input #code3 type="number" [disabled]="(loadingOperation | async)" step="1" (ionInput)="codeChanged(3,$event.target,$event)" (ionFocus)="codeFocus($event)" (keydown)="keydownCode(3,$event)" [(ngModel)]="code3Number"></ion-input>
              </ion-item>
          </ion-col>
          <ion-col size="3">
            <ion-item lines="none">
                <ion-input #code4 type="number" [disabled]="(loadingOperation | async)" step="1" (ionInput)="codeChanged(4,$event.target,$event)" (ionFocus)="codeFocus($event)" (keydown)="keydownCode(4,$event)" [(ngModel)]="code4Number"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      
      <p style="margin-top: 10px;">يمكنك اعادة طلب كود التفعيل مرة اخرى بعد</p>
     <div style="width: 50%;margin-left: auto;margin-right: auto; height: 35px;">
      <ion-button (click)="reSendCode()" expand="full" *ngIf="counter == 0">
        إعادة الإرسال
      </ion-button>
        <div *ngIf="counter != 0" style="width: 100%;background-color: var(--ion-color-primary); border-radius: 5px;">
            <ion-grid fixed dir="ltr" >
                <ion-row>
                  <ion-col size="6">
                    ثانية
                    </ion-col>
                  <ion-col size="6" style="background-color: var(--ion-color-medium);">
                    {{counter}}
                  </ion-col>
                 </ion-row>
            </ion-grid>
        </div>
     </div>
    
     <ion-button (click)="changeMobile()" color="light" fill="clear"  style="margin-top: 35px;">
        <ion-label slot="start" style="font-size: 16px;color: var(--ion-color-danger);">تغيير رقم الجوال</ion-label>
        <ion-icon name="create" color="danger"></ion-icon>
      </ion-button>
    </div>
</div>
</ion-content>
