<ion-header [dir]="'dir' | translate">
  <ion-toolbar>
    <ion-title>Login</ion-title>
    <ion-buttons slot="primary">
      <ion-button color="danger" (click)="logout()">
        Logout
        <ion-icon slot="end" color="danger" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [dir]="'dir' | translate">
    <div class="hold-transition logout-page">
        <div class="initail-box">
          <!-- /.login-logo -->
          <div class="login-box-body">
            <div class="row">
                <div class="col-md-4">
        
                </div>
                <div class="col-md-4 text-center" style="font-weight: bold; margin-top: 15px;">
                    <ion-list lines="none">
                        <ion-list-header *ngIf="!clinic">
                          <ion-label align-self-center>Select Clinic</ion-label>
                        </ion-list-header>
                        <ion-item *ngIf="clinic && !user">
                            <ion-button color="light" slot="start" (click)="companyClick(null);">
                              <ion-icon name="arrow-back"></ion-icon>
                            </ion-button>
                            <ion-label style="font-weight: bold;">{{clinic.Name}} Users</ion-label>
                          </ion-item>
                          <ion-item *ngIf="clinic && user">
                              <ion-button color="light" slot="start" (click)="user = null;">
                                  <ion-icon name="arrow-back"></ion-icon>
                                </ion-button>
                                <ion-label style="font-weight: bold;">{{user.F_Name}} {{user.L_Name}}</ion-label>
                          </ion-item>
                      </ion-list>
                </div>
                <div class="col-md-4">
      
                </div>
            </div>
            <div class="row">
              <div class="col-md-4">
      
              </div>
              <div class="col-md-4" style="padding: 15px;">
                <div class="list-group" *ngIf="!clinic">
                  <a (click)="companyClick(item)" style="cursor:pointer;" class="list-group-item list-group-item-action" *ngFor="let item of companies; let i = index">
                    {{item.Name}}
                  </a>
                </div>
                <div class="list-group" *ngIf="clinic && !user">
                  <a (click)="user = item" style="cursor:pointer;" class="list-group-item list-group-item-action" *ngFor="let item of users; let i = index">
                    {{item.F_Name}} {{item.L_Name}}
                  </a>
                </div>
                <div class="list-group" *ngIf="clinic && user">
                  <a class="list-group-item list-group-item-action active" style="color:#fff;">
                    {{user.F_Name}} {{user.L_Name}}
                  </a>
                  <div class="form-group">
                    <input type="password" class="form-control" [(ngModel)]="password" (keyup.enter)="login()" placeholder="Password">
                  </div>
                  <div class="alert alert-danger" *ngIf="errorMessage" role="alert">
                    {{errorMessage}}
                  </div>
                  <div class="alert alert-success" *ngIf="successMessage" role="alert">
                    {{successMessage}}
                  </div>
      
                  <button type="button" (click)="login()" class="btn btn-primary">Login</button>
                </div>
              </div>
              <div class="col-md-4">
      
              </div>
            </div>
          </div>
        </div>
      </div>
</ion-content>
