<ion-content [dir]="'dir' | translate">
    <ion-slides pager="true" class="row h-100">
  <!--
        <ion-slide class="row h-100" text-center style="padding: 0px 0px 0px 0px; background:url(/assets/images/get_started_b_1.png) no-repeat center center fixed;-webkit-background-size: cover; -moz-background-size: cover;-o-background-size: cover;background-size: cover;">
          <div style="background-color: rgba(15, 31, 105, 0.9);position: absolute;top: 0; left: 0; width: 100%; height: 100%;">
          </div>
         <div style="position: absolute;top: 0; left: 0; width: 100%; height: 100%;">
            <div class="row h-100">
                <div style="margin-top: auto;margin-bottom: auto; width:100%;" text-center>
                    <div>
                        <img src="assets/logo_w.png" class="slide-img" style="display:block;margin-left:auto;margin-right: auto;">
                      </div>
                      <div>
                          <img src="assets/images/get_started_i_1_a.png" style="max-width: 60%; margin-top: 35px; display:block;margin-left:auto;margin-right: auto;">
                      </div>
                      <div>
                        <h3 style="display: none;">Test</h3>
                      </div>
                </div>
            </div>
        </div>
        </ion-slide>
  -->
        <ion-slide text-center style="padding: 0px 0px 0px 0px; background:url(/assets/images/get_started_b_1.jpg) no-repeat center center;-webkit-background-size: cover; -moz-background-size: cover;-o-background-size: cover;background-size: cover;">
            <div class="row h-100">
                <div style="margin-top: auto;margin-bottom: auto; width:100%;" text-center>
                  <div class="slide-img-padding">
                    <img src="assets/logo_w.png" class="slide-img">
                  </div>
                  <h3 style="color: white;font-family: FFHekaya;font-size: 32px;">
                    يلا بينا
                  </h3>
                  <div>
                      <img src="assets/images/get_started_i_1_a.png" style="max-width: 40%; margin-top: 35px; display:block;margin-left:auto;margin-right: auto;">
                  </div>
                  <div>
                      <ion-button (click)="slideNext()" color="light" size="large" fill="clear">
                        <ion-label slot="start" style="font-family: FFHekaya;font-size: 32px;">التالي</ion-label>
                        <ion-icon name="arrow-back"></ion-icon>
                      </ion-button>
                  </div>
                </div>
            </div>
        </ion-slide>
        <ion-slide text-center style="padding: 0px 0px 0px 0px; background:url(/assets/images/get_started_b_1.jpg) no-repeat center center;-webkit-background-size: cover; -moz-background-size: cover;-o-background-size: cover;background-size: cover;">
          <div class="row h-100">
              <div style="margin-top: auto;margin-bottom: auto; width:100%;" text-center>
                <div class="slide-img-padding">
                  <img src="assets/logo_w.png" class="slide-img">
                </div>
                <h3 style="color: white;font-family: FFHekaya;font-size: 32px;">
                  ولك بقولك يلا
                </h3>
                <div>
                    <img src="assets/images/get_started_i_1_a.png" style="max-width: 40%; margin-top: 35px; display:block;margin-left:auto;margin-right: auto;">
                </div>
                <div>
                    <ion-button (click)="slideNext()" color="light" size="large" fill="clear">
                      <ion-label slot="start" style="font-family: FFHekaya;font-size: 32px;">التالي</ion-label>
                      <ion-icon name="arrow-back"></ion-icon>
                    </ion-button>
                </div>
              </div>
          </div>
      </ion-slide>
        <ion-slide  text-center style="padding: 0px 0px 0px 0px; background:url(/assets/images/get_started_b_1.jpg) no-repeat center center;-webkit-background-size: cover; -moz-background-size: cover;-o-background-size: cover;background-size: cover;">
          <div class="row h-100">
              <div style="margin-top: auto;margin-bottom: auto; width:100%;" text-center>
                <div class="slide-img-padding">
                  <img src="assets/logo_w.png" class="slide-img">
                </div>
                <h3 style="color: white;font-family: FFHekaya;font-size: 32px;">
                  علي الجيرة انك زبون اهبل
                </h3>
                <div>
                    <img src="assets/images/get_started_i_1_a.png" style="max-width: 40%; margin-top: 35px; display:block;margin-left:auto;margin-right: auto;">
                </div>
                <div>
                    <ion-button (click)="finish()" color="light" >
                      <ion-label slot="start" style="font-family: FFHekaya;font-size: 32px;">روح انقلع</ion-label>
                    </ion-button>
                </div>
              </div>
          </div>
      </ion-slide>
      </ion-slides>

   
</ion-content>