<ion-list #theList inset="false" lines="full" class="noPadBottom">
    <ion-grid>
      <ion-row class="rowClass">
        <ion-col size="2" class="colClass" *ngFor="let item of colorService.colorList; let i=index" [style.background]="item.value"
         (click)="selectColor(i)">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>