<ion-header [dir]="'dir' | translate">
  <ion-toolbar>
      <ion-buttons slot="start" (click)="back()">
          <ion-button>
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
      <ion-title>Event</ion-title>
      <ion-buttons slot="primary">
        <ion-button color="primary" (click)="submitForm()">
          {{appointment.Appointment_ID ? 'Edit' : 'Create'}}
          <ion-icon slot="end" name="create"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [dir]="'dir' | translate">
    <form (ngSubmit)="submitForm()">
        <ion-item>
          <ion-label position="stacked">Title</ion-label>
          <ion-input type="text" [(ngModel)]="appointment.Title" name="Title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Type</ion-label>
          <ion-select name="Appointment_Type_ID" placeholder="Select Type" [(ngModel)]="appointment.Appointment_Type_ID" (ngModelChange)="appTypeChange()">
            <ion-select-option *ngFor="let item of appointmentTypes;" value="{{item.ID}}">{{item.Name}}</ion-select-option>
          </ion-select>
        </ion-item>
        <!--
        <ion-item button="true">
            <ion-label position="stacked">Account</ion-label>
            <ion-input type="text" [(ngModel)]="appointment.ClientName" name="ClientName" (click)="searchAccount()"></ion-input>
            <ion-icon name="close" *ngIf="appointment.AccountClientId" slot="end" align-self-end (click)="clearAccountSearch()"></ion-icon>
            <ion-icon name="search" slot="end" align-self-end (click)="searchAccount()"></ion-icon>
        </ion-item>
      -->
        <ion-item>
          <ion-label position="floating">Date</ion-label>
          <ion-datetime name="Appointment_Date" [displayFormat]="DATE_FORMAT" [(ngModel)]="appointment.Appointment_Date" min="2000-01-01" max="2030-01-01"></ion-datetime>
        </ion-item>
        <ion-row>
            <ion-col size="6" class="ion-no-padding">
                <ion-item>
                    <ion-label>Start Time</ion-label>
                    <ion-datetime name="Start_Time" displayFormat="HH:mm" [(ngModel)]="appointment.Start_Time" (ngModelChange)="startTimeChange($event)" minuteValues="0,30"></ion-datetime>
                  </ion-item>
            </ion-col>
            <ion-col size="6" class="ion-no-padding">
                <ion-item>
                    <ion-label>End Time</ion-label>
                    <ion-datetime name="End_Time" displayFormat="HH:mm" minuteValues="0,30" [(ngModel)]="appointment.End_Time"  [hourValues]="endTimeValues"></ion-datetime>
                </ion-item>
            </ion-col>
          </ion-row>
      
       
          <ion-item [color]="color.key" (click)="pickColor($event)" button="true">
             <div>
                <ion-label>Color</ion-label>
             </div>
             <ion-icon name="more" slot="end" align-self-end ></ion-icon>
          </ion-item>
            
        <ion-item hidden>
          <ion-label>Description</ion-label>
          <ion-textarea [(ngModel)]="appointment.Description" name="Description"></ion-textarea>
        </ion-item>
        <ion-item lines="none" hidden>
            <ion-button color="primary" block slot="end">Create Event</ion-button>
        </ion-item>
      </form>
</ion-content>
