<ion-header [dir]="'dir' | translate">
  <ion-toolbar color="primary">
    <ion-title>{{ 'my_profile' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
  <!--[scrollEvents]="true" (ionScroll)="scrolling($event)"-->
  <ion-content [dir]="'dir' | translate">
      <div class="user-photo" padding-top>
          <ion-avatar>
            <img src="assets/avatar.svg" *ngIf="!(loadingOperation | async)">
            <ion-skeleton-text animated *ngIf="(loadingOperation | async)"></ion-skeleton-text>
          </ion-avatar>
          <div class="d-flex justify-content-center"> 
              <ion-label color="light" *ngIf="!(loadingOperation | async)" class="ion-text-capitalize" style="text-align: center;margin:15px 0px;">
                  {{account.FullName}}
              </ion-label>
            <ion-skeleton-text *ngIf="(loadingOperation | async)" animated width="30%" color="light"></ion-skeleton-text>
          </div>
        </div>
        <ion-progress-bar *ngIf="(loadingOperation | async)" type="indeterminate"></ion-progress-bar>
      
      <div>
        <div>
          <ion-fab hidden vertical="bottom" horizontal="end" slot="fixed" style="margin-bottom: 35px;">
            <ion-fab-button size="small" color="primary" class="menu-open-button">
              <ion-icon name="create" (click)='editAccount()'></ion-icon>
            </ion-fab-button>
          </ion-fab>
  
            <ion-list>
                <ion-item button="true">
                  <ion-icon name="person" slot="start"></ion-icon>
                  <ion-label>
                    <p>{{ 'mobile' | translate }}</p>
                    <h2>{{account.Mobile}}</h2>
                  </ion-label>
                  <ion-icon name="send" slot="end" color="primary" align-self-end></ion-icon>
                </ion-item>
                <ion-item *ngIf="account.Email">
                  <ion-icon name="mail" slot="start"></ion-icon>
                  <ion-label>
                    <p>{{ 'email' | translate }}</p>
                    <h2>{{account.Email}}</h2>
                  </ion-label>
                </ion-item>
              </ion-list>
  
        </div>
      </div>
  </ion-content>
  