<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="search">
      <ion-icon name="list"></ion-icon>
      <ion-label>Questionnaire</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="help-circle"></ion-icon>
      <ion-label>Help</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
