<ion-header [dir]="'dir' | translate">
  <ion-toolbar>
    <ion-title>logout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [dir]="'dir' | translate">
  <ion-button (click)="logout()" color="primary">
    Back to login
  </ion-button>
</ion-content>
