/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@font-face {
    font-family: 'Helvetica';
    src: url('./assets/fonts/HelveticaNeueLT.ttf');
  }
  @font-face {
    font-family: 'FFHekaya';
    src: url('./assets/fonts/FFHekaya-Light.otf');
  }
* {
 font-family: 'Helvetica';
}


.swiper-pagination-bullet-wide{
  height: 6px;
  width: 35px;
  border-radius: 5px;
  opacity: 1;
}
.images-modal{
  background: transparent !important;
}
.images-modal .modal-wrapper{
  background: transparent !important;
}

.ion-color-facebook {
  --ion-color-base: var(--ion-color-facebook) !important;
  --ion-color-base-rgb: var(--ion-color-facebook-rgb) !important;
  --ion-color-contrast: var(--ion-color-facebook-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-facebook-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-facebook-shade) !important;
  --ion-color-tint: var(--ion-color-facebook-tint) !important;
}

.ion-color-transparent {
  --ion-color-base: var(--ion-color-transparent) !important;
  --ion-color-base-rgb: var(--ion-color-transparent-rgb) !important;
  --ion-color-contrast: var(--ion-color-transparent-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-transparent-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-transparent-shade) !important;
  --ion-color-tint: var(--ion-color-transparent-tint) !important;
}


.ion-color-announce {
  --ion-color-base: var(--ion-color-announce) !important;
  --ion-color-base-rgb: var(--ion-color-announce-rgb) !important;
  --ion-color-contrast: var(--ion-color-announce-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-announce-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-announce-shade) !important;
  --ion-color-tint: var(--ion-color-announce-tint) !important;
}

.pac-container{
  margin-top: -220px;
}