<ion-header [dir]="'dir' | translate">
    <ion-toolbar>
        <ion-buttons slot="start"  *ngIf="!isSearchBarOppend">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title *ngIf="!isSearchBarOppend" (click)="toggleSearchBar(true)">Search</ion-title>
        <ion-searchbar [hidden]="!isSearchBarOppend" placeholder="Search" [(ngModel)]="searchTxt" (ionChange)="onSearchChange()" [debounce]="250"
        (ionCancel)="toggleSearchBar(false)" showCancelButton="true"></ion-searchbar>
        <ion-buttons slot="end">
            <ion-button  *ngIf="!isSearchBarOppend" (click)="toggleSearchBar(true)">
              <ion-icon name="search"></ion-icon>
            </ion-button>
          </ion-buttons>
      </ion-toolbar>
  </ion-header>
  
  <ion-content [dir]="'dir' | translate">
    <ion-segment (ionChange)="tabChanged($event)" [(ngModel)]="selectedTab" style="margin-bottom:4px;">
        <ion-segment-button value="new">
          <ion-icon name="alarm"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="planned">
          <ion-icon name="paper"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="finished">
            <ion-icon name="checkmark-circle"></ion-icon>
          </ion-segment-button>
      </ion-segment>

    <div *ngIf="(loading | async) && searchList.length == 0">
        <ion-card  *ngFor="let i of [1,2,3,4,5,6];">
            <ion-card-header>
              <ion-card-subtitle><ion-skeleton-text animated width="50%"></ion-skeleton-text></ion-card-subtitle>
              <ion-card-title><ion-skeleton-text animated width="20%"></ion-skeleton-text></ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
                <ion-skeleton-text animated width="100%"></ion-skeleton-text>
            </ion-card-content>
          </ion-card>
    </div>
  

    <ion-card  *ngFor="let item of searchList;" (click)="onSearchClick(item)" button="true">
        <ion-card-header>
          <ion-card-subtitle>{{item.RideDate}} {{item.RideTime}}</ion-card-subtitle>
          <ion-card-title>{{item.ClientName}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
            {{item.PickupLocation}} ...  {{item.DropoffLocation}}  {{item.RideHours}} {{item.TourTitle}} 
            <p>
                {{item.ClientMobile}}
            </p>
        </ion-card-content>
      </ion-card>
   

    <ion-infinite-scroll threshold="25%" (ionInfinite)="loadSearch(true,$event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button size="small" color="primary" class="menu-open-button">
        <ion-icon name="add" (click)='addAccount()'></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
  