
<ion-content [dir]="'dir' | translate" padding="true" center text-center dir="ltr">
   <div class="row h-100">
     <ion-grid style="margin-top: auto;margin-bottom: auto; width:100%;">
        <ion-row>
          <ion-col size="12" size-sm="6" offset-sm="3" size-md="4" offset-md="4" padding="15">
              <ion-row>
                 <ion-col size="12" size-xl="8" offset-xl="2">
                    <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
                        <ion-row>
                          <ion-col>
                            <img src="assets/logo.png" style="margin-bottom: 20px;" />
                          </ion-col>
                        </ion-row>
                          <ion-row>
                            <ion-col>
                              <ion-list style="margin: 0px;">
                                <ion-item>
                                  <ion-input placeholder="Email" name="username" id="loginField" (keyup.enter)="login()" 
                                             type="text" required [(ngModel)]="username" #email></ion-input>
                                </ion-item>
                                <ion-item>
                                  <ion-input placeholder="Password" name="password" id="passwordField" (keyup.enter)="login()" 
                                             type="password" required [(ngModel)]="password"></ion-input>
                                </ion-item>
                              </ion-list>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col>
                              <div *ngIf="error" class="alert alert-danger" style="font-size: 13px;">{{error}}</div>
                              <ion-button [disabled]="!loginForm.form.valid" color="primary" type="submit" expand="full">
                                <ion-spinner *ngIf="loading" color="light"></ion-spinner>
                                <span *ngIf="!loading">Login</span>
                              </ion-button>
                            </ion-col>
                          </ion-row>
                        </form>
                 </ion-col>
              </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
   </div>
  
</ion-content>
