  <ion-content [dir]="'dir' | translate">
    
<div class="header">

    <!--Content before waves-->
    <div class="inner-header flex">
    <!--Just the logo.. Don't mind this-->

      <div>
        <h1>Define Your Future</h1>
      </div>

    </div>
    
    <!--Waves Container-->
    <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
    </g>
    </svg>
    </div>
    <!--Waves end-->
    
    </div>
    <!--Header ends-->
    
    <!--Content starts-->
    <div class="content flex">
    <p>DefineYourFuture.com | 2020 | ©</p>
    </div>
    <!--Content ends-->
    <ion-list lines="none">
      <ion-list-header style="text-align: start;">
        <ion-label>{{ 'contact_us' | translate }}</ion-label>
      </ion-list-header>
      <ion-item button (click)="emailClick($event)">
        <ion-icon slot="start" color="medium" name="mail"></ion-icon>
        <ion-label>{{ 'email' | translate }} <br> defineyourfuture99@gmail.com</ion-label>
      </ion-item>
      <ion-item >
        <ion-label style="font-size: 13px;">{{ 'please_do_not_hesitate_contact_us' | translate }}</ion-label>
      </ion-item>

      <hr/>
      <ion-list-header style="text-align: start;">
        <ion-label>{{ 'legal' | translate }}</ion-label>
      </ion-list-header>
      <ion-item button (click)="openContentView($event,'Terms')">
        <ion-label>{{ 'terms_and_conditions' | translate }}</ion-label>
      </ion-item>
      <ion-item button (click)="openContentView($event,'Privacy')">
        <ion-label>{{ 'privacy_policy' | translate }}</ion-label>
      </ion-item>
      <ion-item >
        <ion-label style="font-size: 13px;">{{ 'for_more_information_or_declaration' | translate }}</ion-label>
      </ion-item>

        <ion-item href="https://DefineYourFuture.com/" target="_blank">
          <ion-icon slot="start" color="medium" name="book"></ion-icon>
          <ion-label>{{ 'my_website' | translate }}</ion-label>
        </ion-item>
        <ion-item button (click)="openLanguagePopover($event)">
          <ion-icon slot="start" color="medium" name="build"></ion-icon>
          <ion-label>{{ 'change_language' | translate }}</ion-label>
        </ion-item>
        <ion-item routerLink="/logout" *ngIf="isLoggedIn" routerDirection="root">
          <ion-icon slot="start" color="medium" name="log-out"></ion-icon>
          <ion-label>{{ 'logout' | translate }}</ion-label>
        </ion-item>
      </ion-list>
  </ion-content>
  