<ion-split-pane>
    <ion-menu side="start" contentId="content" type="overlay" *ngIf="loginStatus == 'admin' || loginStatus == 'driver'">
   
      <ion-header [dir]="'dir' | translate">
        <ion-toolbar>
          <ion-title style="text-align: center;">
              <img src="assets/logo-name.png" style="height: 20px;" />
          </ion-title>
        </ion-toolbar>
      </ion-header>
   
      <ion-content [dir]="'dir' | translate">
        <ion-list lines="none">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
            <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath.startsWith(p.url)" style="padding-left:4px;">
              <ion-icon name="{{p.icon}}" slot="start"></ion-icon>
              <ion-label>
                {{ p.title | translate  }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
   
          <ion-item tappable routerLink="/logout" routerDirection="root" style="padding-left: 4px;"> 
            <ion-icon name="log-out" slot="start"></ion-icon>
            {{ 'logout' | translate  }}
          </ion-item>
   
        </ion-list>
   
      </ion-content>
   
    </ion-menu>
   
    <ion-router-outlet id="content" main></ion-router-outlet>
   
  </ion-split-pane>