<ion-header [dir]="'dir' | translate">
  <ion-toolbar color="primary">
      <ion-buttons slot="primary">
          <ion-back-button defaultHref="/dashboard/home" dir="ltr" [text]="'back' | translate"></ion-back-button>
        </ion-buttons>
    <ion-title slot="start">{{'account_profile' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<!--[scrollEvents]="true" (ionScroll)="scrolling($event)"-->
<ion-content [dir]="'dir' | translate">
    <div class="user-photo" padding-top>
        <ion-avatar>
          <img src="assets/avatar.svg" *ngIf="!(loadingOperation | async)">
          <ion-skeleton-text animated *ngIf="(loadingOperation | async)"></ion-skeleton-text>
        </ion-avatar>
        <div class="d-flex justify-content-center"> 
            <ion-label color="light" *ngIf="!(loadingOperation | async)" class="ion-text-capitalize">
                {{account.FullName}}
            </ion-label>
          <ion-skeleton-text *ngIf="(loadingOperation | async)" animated width="30%" color="light"></ion-skeleton-text>
        </div>
      </div>
      <ion-progress-bar *ngIf="(loadingOperation | async)" type="indeterminate"></ion-progress-bar>
      <!--
      <ion-segment (ionChange)="tabChanged($event)" [(ngModel)]="selectedTab" color="primary">
          <ion-segment-button value="details">
            <ion-icon name="person"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="panorama" hidden>
            <ion-icon name="images"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="complaint">
              <ion-icon name="list-box"></ion-icon>
            </ion-segment-button>
          <ion-segment-button value="balance">
              <ion-icon name="cash"></ion-icon>
            </ion-segment-button>
        </ion-segment>
-->
    <div [ngSwitch]="selectedTab">
      <div *ngSwitchCase="'details'">
        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button size="small" color="primary" class="menu-open-button">
            <ion-icon name="create" (click)='editAccount()'></ion-icon>
          </ion-fab-button>
        </ion-fab>

          <ion-list>
              <ion-item button="true">
                <ion-icon name="person" slot="start"></ion-icon>
                <ion-label>
                  <p>{{'mobile' | translate}}</p>
                  <h2>{{account.Mobile}}</h2>
                </ion-label>
                <ion-icon name="send" slot="end" color="primary" align-self-end></ion-icon>
              </ion-item>
              <ion-item *ngIf="account.Email">
                <ion-icon name="mail" slot="start"></ion-icon>
                <ion-label>
                  <p>{{'email' | translate}}</p>
                  <h2>{{account.Email}}</h2>
                </ion-label>
              </ion-item>
            </ion-list>

      </div>
    </div>

   

  
 
    
  <!--
  <super-tabs (tabChange)="onTabChange($event)">
      <super-tabs-toolbar color="primary">
          <super-tab-button >
              <ion-icon name="person"></ion-icon>
          </super-tab-button>
          <super-tab-button color="primary" *ngFor="let tab of tabs" (click)="onTabClick($event)">
              <ion-icon [name]="tab.icon"></ion-icon>
          </super-tab-button>
        </super-tabs-toolbar>
      <super-tabs-container>
        <super-tab>
            <ion-list>
                <ion-item>
                  <ion-icon name="person" slot="start"></ion-icon>
                  <ion-label>
                    <p>Mobile</p>
                    <h2>{{account.Mobile}}</h2>
                  </ion-label>
                  <ion-icon name="send" slot="end" color="primary" align-self-end></ion-icon>
                </ion-item>
                <ion-item *ngIf="account.Email">
                  <ion-icon name="mail" slot="start"></ion-icon>
                  <ion-label>
                    <p>Email</p>
                    <h2>{{account.Email}}</h2>
                  </ion-label>
                </ion-item>
                <ion-item *ngIf="account.Age">
                    <ion-icon name="hourglass" slot="start"></ion-icon>
                    <ion-label>
                      <p>Age</p>
                      <h2>{{account.Age}}</h2>
                    </ion-label>
                  </ion-item>
                  <ion-item *ngIf="account.Mobile">
                      <ion-icon name="clipboard" slot="start"></ion-icon>
                      <ion-label text-wrap>
                        <p>Note</p>
                        <h2>{{account.Note}}</h2>
                      </ion-label>
                    </ion-item>
              </ion-list>
        </super-tab>
        <super-tab *ngFor="let tab of tabs" [id]="tab.PageName">
          <ion-nav [root]="tab.pageComponent" [rootParams]="myParams"></ion-nav>
        </super-tab>
      </super-tabs-container>
  </super-tabs>
  -->
 

     
</ion-content>
