ion-slide {
    display: block;
}

ion-label h3 {
    font-size: 30;
    font-weight: bold;
    margin-bottom: 60px;
}
p{
    margin-top:8px;
}
img {
    max-height: 400px;
}

.slide-img-padding2 {
    padding: 60px;
}


.btn-primary {
    height: 60px;
}

ion-grid {
    margin-bottom: 20px;
}

ion-slides {
    --bullet-background: #CED1DF;
    --bullet-background-active: #8890B2;
}
ion-item{
    --border-width:1px;
    --border-radius:5px;
}
ion-input{
    --background: rgba(0,0,0,0);
}
@media screen and (max-height: 775px) {

    img {
        width: 70%;
    }
    
}